<div class="sidebar-header">
  <a class="sidebar-brand" onclick="$('#sidebar').toggleClass('slim');$('#main_content_div').toggleClass('slim');$('#navbar').toggleClass('slim');" href="#"><span class="highlight">MATRIX V3</span> Portal</a>
  <a class="sidebar-brand-slim" onclick="$('#sidebar').toggleClass('slim');$('#main_content_div').toggleClass('slim');$('#navbar').toggleClass('slim');" href="#"><span class="highlight" style="margin-right:0px">M</span></a>
  <button type="button" class="sidebar-toggle">
        <i class="fa fa-times"></i>
    </button>
</div>
<div class="sidebar-menu" style="transition: all 0.25s linear;">
  <ul class="sidebar-nav">
    <li id="li_tutorials" class="dropdown ">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <div class="icon">
          <i class="fa fa-rocket" aria-hidden="true"></i>
        </div>
        <div class="title">教程</div>
      </a>
      <div class="dropdown-menu">
        <ul>
          <li class="section"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> 组件</li>
          <li><a href="/matrix_2018/tutorials/table.html">Table</a></li>
          <li class="section"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> JS</li>
          <li><a href="/matrix_2018/tutorials/tutorials_matrix_util.html">Matrix_Util</a></li>
          <li><a href="/matrix_2018/tutorials/tutorials_matrix_table.html">Matrix_table</a></li>
        </ul>
      </div>
    </li>
    <li id="li_components" class="dropdown ">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <div class="icon">
          <i class="fa fa-cube" aria-hidden="true"></i>
        </div>
        <div class="title">组件</div>
      </a>
      <div class="dropdown-menu">
        <ul>
          <li class="section"><i class="fa fa-cube" aria-hidden="true"></i>组件</li>
          <li><a href="/matrix_2018/components/matrix-icons.html">图标</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<div class="sidebar-footer">
  <ul class="menu">
    <li>
      <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cogs" aria-hidden="true"></i>
            </a>
    </li>
    <li><a href="#"><span class="flag-icon flag-icon-cn flag-icon-squared"></span></a></li>
  </ul>
</div>
