<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matrix Template</title>
  <link rel="shortcut icon" href="../assets/self-owned/ico/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/flat-admin.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/yellow.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/codemirror/codemirror.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/github-markdown-css/github-markdown.css">
  <link rel="stylesheet" type="text/css" href="../assets/self-owned/css/matrix_v3.css">
  <link rel="stylesheet" type="text/css" href="../assets/self-owned/css/matrix_ui_refine.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/bootstrap-fileinput/css/fileinput_ly.css" media="all">
  <link rel="stylesheet" type="text/css" href="../assets/reference/fuelux/fuelux.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/gridstack/gridstack.css" />
  <link rel="stylesheet" type="text/css" href="../assets/reference/gridstack/gridstack-extra.css" />
</head>

<body>
  <div class="app app-blue-sky" id="template-matrix-main-div">
    <aside class="app-sidebar" id="sidebar"></aside>
    <div class="app-container" id="main_content_div">
      <nav class="navbar navbar-default navbar-fixed-top" id="navbar"></nav>
      <div class="seperate_div_class" style="margin-top:88px"></div>

      <!--LOADER DIV BEGIN-->
      <div class="loader-container text-center">
        <div class="icon">
          <div class="sk-wave">
            <div class="sk-rect sk-rect1"></div>
            <div class="sk-rect sk-rect2"></div>
            <div class="sk-rect sk-rect3"></div>
            <div class="sk-rect sk-rect4"></div>
            <div class="sk-rect sk-rect5"></div>
          </div>
        </div>
        <div class="title">Loading</div>
      </div>
      <!--LOADER DIV FINISHED-->

      <!--RESPONSE DIV BEGIN-->
      <div class="row" data-bind="with:response_vm">
        <div class="col-sm-12" style="margin-bottom:12px" style="display:none" data-bind="visible: resultVisible">
          <div class="flat-matrix">
            <div class="alert fresh-color " data-bind="css:styleClass,visible: resultVisible" style="display:none">
              <button type="button" class="close" data-bind="click:function(){resultVisible(false)}" aria-label="Close"><i class="fa fa-close"></i></button>
              <strong>
                  <span data-bind="text:resultTitle"></span>
                </strong>
              <span data-bind="text:resultSubTitle"></span>
              <div data-bind="text:resultContent"></div>
            </div>
          </div>
        </div>
      </div>
      <!--RESPONSE DIV FINISHED-->

      <!--VALIDATION DIV BEGIN-->
      <div class="row">
        <div class="col-sm-12" style="margin-bottom:12px" style="display:none" data-bind="visible: hasError">
          <div id="validation_div">
            <div class="flat-matrix">
              <div class="alert alert-warning alert-dismissible fresh-color" role="alert" style="display:none" data-bind="visible: hasError">
                <button type="button" data-bind="click:function(){hasError(!hasError)}" class="close" aria-label="Close">
                  <i class="fa fa-close"></i>
                </button>
                <strong>Warning:</strong>
                <div id="errorMessagesDIV" data-bind="foreach:errorMessage">
                  <div data-bind="text:$data"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--VALIDATION DIV FINISHED-->

      <!--BUSINESS DIV BEGIN-->

      <div class="row">
        <div class="col-sm-12">
          <div class="card card-mini">
            <div class="card-header">
              <i class="fa fa-diamond">&nbsp;Matrix Card&nbsp;&nbsp;&nbsp;</i>
            </div>
            <div class="card-body">
              This is an empty card
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card card-mini">
            <div class="card-header">
              <i class="fa fa-diamond">&nbsp;Matrix Cards Example&nbsp;&nbsp;&nbsp;</i>
            </div>
            <div class="card-body">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="text-align:right">
                    <span style="font-weight: bold;font-size: 16px;">Name</span>
                    <i class="fa fa-asterisk" style="color: #E74C3C;"></i>
                  </label>
                  <div class="col-sm-4">
                    <p class="form-control-static">Matrix Component</p>
                  </div>
                  <label class="col-sm-2 control-label" style="text-align:right">
                    <span style="font-weight: bold;font-size: 16px;">Version</span>
                    <i class="fa fa-asterisk" style="color: #E74C3C;"></i>
                  </label>
                  <div class="col-sm-4">
                    <p class="form-control-static">3.14</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="text-align:right">
                    <span style="font-weight: bold;font-size: 16px;">Owner</span>
                  </label>
                  <div class="col-sm-4">
                    <p class="form-control-static">BUPT Scripter Team</p>
                  </div>
                  <label class="col-sm-2 control-label" style="text-align:right">
                    <span style="font-weight: bold;font-size: 16px;">Description</span>
                  </label>
                  <div class="col-sm-4">
                    <p class="form-control-static">团队女神多,所以产出高</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="text-align:right">
                    <span style="font-weight: bold;font-size: 16px;">Slogon</span>
                  </label>
                  <div class="col-sm-10">
                    <p class="form-control-static">What you are you do not see, what you see is your shadow. That i exist is a perpetual surprise which is life. </p>
                  </div>
                </div>
              </form>
              <div class="flat-matrix" style="margin-bottom: -30px;">
                <p class="text-center" id="show_scalable_region_div" style="">
                  <button type="button" onclick="show_configuration_panel()" class="btn btn-default" style="border: 0px solid;box-shadow: none;"><i class="fa fa-angle-double-down"></i></button>
                </p>
                <div class="row" id="scalable_region_div" style="display: none;">
                  <div class="col-md-12">
                    <div class="alert alert-info alert-dismissible fresh-color" role="alert" style="margin-top: 16px;">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-close"></i></button>
                      <strong><i class="fa fa-compass"></i>&nbsp;信息:</strong> 这里显示隐藏的信息
                    </div>
                  </div>
                </div>
                <p class="text-center" id="hide_scalable_region_div" style="display: none;">
                  <button type="button" onclick="hide_configuration_panel()" class="btn btn-default" style="border: 0px solid;box-shadow: none;"><i class="fa fa-angle-double-up"></i></button>
                </p>
                <script>
                  function hide_configuration_panel() {
                    Matrix_UI.hide_div('scalable_region_div');
                    Matrix_UI.show_div('show_scalable_region_div');
                    Matrix_UI.hide_div('hide_scalable_region_div');
                  }

                  function show_configuration_panel() {
                    Matrix_UI.show_div('scalable_region_div');
                    Matrix_UI.hide_div('show_scalable_region_div');
                    Matrix_UI.show_div('hide_scalable_region_div');
                  }
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <h4 style="color:#777">Color Style</h4>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
              <a href="#">
                <div>
                  <div class="matrix-card green summary-inline" style="min-height:158px; max-height:180px;">
                    <div class="card-body">
                      <i class="icon fa fa-stethoscope fa-1x"> &nbsp;Status </i>
                      <div class='text-right' style="position:absolute;right:30px;bottom:18px;font-size:28px">
                        Successed
                      </div>
                    </div>

                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
              <div class="matrix-card yellow summary-inline" style="min-height:88px; max-height:88px;">
                <div class="card-body">
                  <i class="icon fa fa-bed fa-1x"> Warning </i>
                </div>
                <div class='text-right' style="position:absolute;right:30px;bottom:18px;font-size:28px"> 10 Messages</div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
              <a onclick="void(0);" style="cursor:pointer">
                <div class="matrix-card blue summary-inline" style="min-height:88px; max-height:88px;">
                  <div class="card-body">
                    <i class="icon fa fa-sliders fa-1x"> Info </i>
                  </div>
                  <div class='text-right' style="position:absolute;right:30px;bottom:18px;font-size:28px">10 Messages</div>
                </div>
              </a>
            </div>
          </div>

          <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
              <a onclick="void(0);" style="cursor:pointer">
                <div class="matrix-card red summary-inline" style="min-height:88px; max-height:88px;">
                  <div class="card-body">
                    <i class="icon fa fa-trash fa-1x"> Danger </i>
                  </div>
                  <div class='text-right' style="position:absolute;right:30px;bottom:18px;font-size:28px">10 Messages</div>
                </div>
              </a>
            </div>
          </div>
          <h4 style="color:#777">Sexual Apathy Style</h4>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
              <a onclick="void(0);" style="cursor:pointer">
                <div class="matrix-card dark summary-inline" style="min-height:88px; max-height:88px;">
                  <div class="card-body">
                    <i class="icon fa fa-bars fa-1x"> Dark </i>
                  </div>
                  <div class='text-right' style="position:absolute;right:30px;bottom:18px;font-size:28px">10 Messages</div>
                </div>
              </a>
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
              <a onclick="void(0);" style="cursor:pointer">
                <div class="matrix-card white summary-inline" style="min-height:88px; max-height:88px;">
                  <div class="card-body">
                    <i class="icon fa fa-remove fa-1x"> White </i>
                  </div>
                  <div class='text-right' style="position:absolute;right:30px;bottom:18px;font-size:28px">10 Messages</div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h4 style="color:#777">Kooza Dashboard</h4>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-6">
              <div class="matrix-card yellow summary-inline">
                <div class="card-body">
                  <i class="icon fa fa-bug fa-1x"> &nbsp;Logs</i>
                </div>
                <div class="row text-center">
                  <div class="col-md-4" style="margin-bottom: 18px;">
                    <a href="#" style="color:#fff"><i class="fa fa-terminal fa-2x"></i> <br> &nbsp;Stdout</a>
                  </div>
                  <div class="col-md-4" style="margin-bottom: 18px;">
                    <a href="#" style="color:#fff"><i class="fa fa-remove fa-2x"></i> <br> &nbsp;Stderr</a>
                  </div>
                  <div class="col-md-4" style="margin-bottom: 18px;">
                    <a href="#" style="color:#fff"><i class="fa fa-file-text-o fa-2x"></i> <br> &nbsp;Syslog</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="matrix-card red summary-inline">
                <div class="card-body">
                  <i class="icon fa fa-bug fa-1x"> &nbsp;Logs</i>
                </div>
                <div class="row text-center">
                  <div class="col-md-12" style="margin-bottom: 18px;">
                    <a onclick="void(0);" style="cursor:pointer;color:#fff"><i class="fa fa-wheelchair fa-2x">&nbsp; 2</i> <br> &nbsp;超过一天</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-6">
              <a href="#">
                <div class="matrix-card green summary-inline" style="min-height:158px; max-height:180px;">
                  <div class="card-body">
                    <i class="icon fa fa-pencil fa-1x">&nbsp;Input</i>
                    <div class="content">
                      <div class="title">Hive</div>
                    </div>
                  </div>
                  <div class='text-right' style="position:absolute;right:30px;bottom:18px;font-size:12px">
                    select * from userflow.hlj_7day_test_data;
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <div class="matrix-card blue summary-inline" style="min-height:158px; max-height:180px;">
                <div class="card-body">
                  <i class="icon fa fa-database fa-1x"> &nbsp;Data Set</i>
                  <a href="#" style="color:#fff">
                    <div class="content">
                      <div class="title">Data</div>
                      <div class="sub-title">see original</div>
                    </div>
                  </a>
                </div>
                <div class="clear-both"></div>
                <br>
                <div class="row text-center">
                  <div class="col-md-4" style="margin-bottom: 18px;">
                    <span style="font-size:28px">10</span>
                    <br> &nbsp;Rows
                  </div>
                  <div class="col-md-4" style="margin-bottom: 18px;">
                    <span style="font-size:28px">68</span>
                    <br> &nbsp;Columns
                  </div>
                  <div class="col-md-4" style="margin-bottom: 18px;">
                    <span style="font-size:28px">680</span>
                    <br> &nbsp;Cells
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
              <div class="matrix-card white summary-inline" style="min-height:158px; max-height:180px;">
                <div class="card-body">
                  <i class="icon fa fa-database fa-1x"> &nbsp;Data Set</i>
                  <a href="#" style="color:#666">
                    <div class="content">
                      <div class="title">Data</div>
                      <div class="sub-title">see original</div>
                    </div>
                  </a>
                </div>
                <div class="clear-both"></div>
                <br>
                <div class="row text-center">
                  <div class="col-md-4" style="margin-bottom: 18px;">
                    <span style="font-size:28px">100</span>
                    <br> &nbsp;Rows
                  </div>
                  <div class="col-md-4" style="margin-bottom: 18px;">
                    <span style="font-size:28px">68</span>
                    <br> &nbsp;Columns
                  </div>
                  <div class="col-md-4" style="margin-bottom: 18px;">
                    <span style="font-size:28px">680</span>
                    <br> &nbsp;Cell
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
              <div class="matrix-card dark summary-inline">
                <div class="card-body">
                  <i class="icon fa fa-bug fa-1x"> &nbsp;Logs</i>
                </div>
                <div class="row text-center">
                  <div class="col-md-12" style="margin-bottom: 18px;">
                    <a onclick="void(0);" style="cursor:pointer;color:#fff"><i class="fa fa-wheelchair fa-2x">&nbsp; 2</i> <br> &nbsp;超过一天</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <h4 style="color:#777">Color Style</h4>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
              <a class="card card-banner card-green-light">
                <div class="card-body">
                  <i class="icon fa fa-shopping-basket fa-4x"></i>
                  <div class="content">
                    <div class="title">Sale Today</div>
                    <div class="value"><span class="sign">$</span>420</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
              <a class="card card-banner card-blue-light">
                <div class="card-body">
                  <i class="icon fa fa-thumbs-o-up fa-4x"></i>
                  <div class="content">
                    <div class="title">Page Likes</div>
                    <div class="value"><span class="sign"></span>2453</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
              <a class="card card-banner card-yellow-light">
                <div class="card-body">
                  <i class="icon fa fa-user-plus fa-4x"></i>
                  <div class="content">
                    <div class="title">New Registration</div>
                    <div class="value"><span class="sign"></span>50</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
              <a class="card card-banner card-orange-light">
                <div class="card-body">
                  <i class="icon fa fa-coffee fa-4x"></i>
                  <div class="content">
                    <div class="title">Stock Information</div>
                    <div class="value"><span class="sign"></span>50</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--BUSINESS DIV FINISHED-->


      <!--TEMPLATE DIV BEGIN-->
      <div id="template-matrix-dynamic-table-div"></div>
      <div id="template-matrix-modal-div"></div>
      <div id="template-matrix-footer-div"></div>
      <!--TEMPLATE DIV BEGIN-->
    </div>
  </div>
  <!-- Javascript for Matrix Referenced -->
  <script src="../assets/reference/flat-admin/assets/js/vendor_min.js"></script>
  <script src="../assets/reference/flat-admin/assets/js/app.js"></script>
  <script src="../assets/reference/codemirror/codemirror.js"></script>
  <script src="../assets/reference/codemirror/mode/javascript/javascript.js"></script>
  <script src="../assets/reference/codemirror/mode/markdown/markdown.js"></script>
  <script src="../assets/reference/jquery/jquery.json.js"></script>
  <script src="../assets/reference/jquery/jquery.blockUI.js"></script>
  <script src="../assets/reference/knockout.js/knockout-3.3.0.js"></script>
  <script src="../assets/reference/jquery-tiny-pubsub/tiny-pubsub.js"></script>
  <script src="../assets/reference/markdown/markdown.min.js"></script>
  <script src="../assets/reference/jquery-ui/jquery-ui.js"></script>
  <script src="../assets/reference/lodash/lodash-4.15.0.js"></script>
  <script src="../assets/reference/gridstack/gridstack.all.js"></script>
  <script src="../assets/reference/echarts/echarts-min.js"></script>
  <script src="../assets/reference/echarts/dataTools.js"></script>
  <!-- Javascript for Matrix Self Owned -->

  <script src="../assets/self-owned/js/generic/generic_vm.js"></script>

  <script src="../assets/self-owned/js/refine/matrix_ui.js"></script>
  <script src="../assets/self-owned/js/refine/matrix_util.js"></script>
  <script src="../assets/self-owned/js/refine/matrix_components.js"></script>
  <script src="../assets/self-owned/js/refine/matrix_table.js"></script>
  <script src="../assets/self-owned/js/refine/matrix_vm.js"></script>

  <script>
    $(document).ready(function() {
      init_matrix_dom_env();
      setTimeout(function() {
        $('#navbar_search_li').css('display', 'none');
        $('#navbar_title_li').text('Matrix Cards');
      }, 1000)
    });

    // $.subscribe("get_user_detail_chain_finished", env_setup);
  </script>
</body>

</html>
