<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matrix Template</title>
  <link rel="shortcut icon" href="../assets/self-owned/ico/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/flat-admin.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/yellow.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/codemirror/codemirror.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/github-markdown-css/github-markdown.css">
  <link rel="stylesheet" type="text/css" href="../assets/self-owned/css/matrix_v3.css">
  <link rel="stylesheet" type="text/css" href="../assets/self-owned/css/matrix_ui_refine.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/bootstrap-fileinput/css/fileinput_ly.css" media="all">
  <link rel="stylesheet" type="text/css" href="../assets/reference/fuelux/fuelux.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/gridstack/gridstack.css" />
  <link rel="stylesheet" type="text/css" href="../assets/reference/gridstack/gridstack-extra.css" />
</head>

<body>
  <div class="app app-blue-sky" id="template-matrix-main-div">
    <aside class="app-sidebar" id="sidebar"></aside>
    <div class="app-container" id="main_content_div">
      <nav class="navbar navbar-default navbar-fixed-top" id="navbar"></nav>
      <div class="seperate_div_class" style="margin-top:118px"></div>

      <!--LOADER DIV BEGIN-->
      <div class="loader-container text-center">
        <div class="icon">
          <div class="sk-wave">
            <div class="sk-rect sk-rect1"></div>
            <div class="sk-rect sk-rect2"></div>
            <div class="sk-rect sk-rect3"></div>
            <div class="sk-rect sk-rect4"></div>
            <div class="sk-rect sk-rect5"></div>
          </div>
        </div>
        <div class="title">Loading</div>
      </div>
      <!--LOADER DIV FINISHED-->

      <!--RESPONSE DIV BEGIN-->
      <div class="row" data-bind="with:response_vm">
        <div class="col-sm-12" style="margin-bottom:12px" style="display:none" data-bind="visible: resultVisible">
          <div class="flat-matrix">
            <div class="alert fresh-color " data-bind="css:styleClass,visible: resultVisible" style="display:none">
              <button type="button" class="close" data-bind="click:function(){resultVisible(false)}" aria-label="Close"><i class="fa fa-close"></i></button>
              <strong>
                  <span data-bind="text:resultTitle"></span>
                </strong>
              <span data-bind="text:resultSubTitle"></span>
              <div data-bind="text:resultContent"></div>
            </div>
          </div>
        </div>
      </div>
      <!--RESPONSE DIV FINISHED-->

      <!--VALIDATION DIV BEGIN-->
      <div class="row">
        <div class="col-sm-12" style="margin-bottom:12px" style="display:none" data-bind="visible: hasError">
          <div id="validation_div">
            <div class="flat-matrix">
              <div class="alert alert-warning alert-dismissible fresh-color" role="alert" style="display:none" data-bind="visible: hasError">
                <button type="button" data-bind="click:function(){hasError(!hasError)}" class="close" aria-label="Close">
                  <i class="fa fa-close"></i>
                </button>
                <strong>Warning:</strong>
                <div id="errorMessagesDIV" data-bind="foreach:errorMessage">
                  <div data-bind="text:$data"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--VALIDATION DIV FINISHED-->

      <!--BUSINESS DIV BEGIN-->
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-mini">
            <div class="card-header">
              <div class="card-title">
                <i class="fa fa-diamond">&nbsp;Server Request&nbsp;&nbsp;&nbsp;</i>
                <button type="button" class="btn btn-success" onclick="Matrix_Util.request_remote(Matrix_Util.get_project_path() + '/api/mock/post/success', DEFAULT_MATRIX_SERVER_RESPONSE_SUCCESS_HANDLER);">
                  <span class="fa fa-check" aria-hidden="true" title="重置">&nbsp;Success</span>
                </button>
                <button type="button" class="btn btn-warning" onclick='Matrix_UI.message_warning("This is Mock Client Error!", "Be Careful!", "Please read the message below:");'>
                  <span class="fa fa-close" aria-hidden="true" title="新增">&nbsp;Client Error</span>
                </button>
                <button type="button" class="btn btn-danger" onclick="Matrix_Util.request_remote(Matrix_Util.get_project_path() + '/api/mock/service_error', DEFAULT_MATRIX_SERVER_RESPONSE_SUCCESS_HANDLER,null,'GET');" >
                  <span class="fa fa-close" aria-hidden="true" title="新增">&nbsp;Service Error</span>
                </button>
                <button type="button" class="btn btn-danger" onclick="Matrix_Util.request_remote(Matrix_Util.get_project_path() + '/api/mock/server_error', DEFAULT_MATRIX_SERVER_RESPONSE_SUCCESS_HANDLER,null,'GET');">
                  <span class="fa fa-bomb" aria-hidden="true" title="chart">&nbsp;Server Exception</span>
                </button>
              </div>
            </div>
            <div class="card-body" style="padding: 20px 30px" >
              <pre>
                Matrix与Server端交互分为四种状态：
                  1、返回正确的响应结果
                  2、前端校验异常
                  3、返回错误的响应结果
                  4、Server端服务异常

                正确处理这四种状态，是开发企业级应用的基础。

                Matrix框架的Matrix_Util函数封装了所有与服务器端交互的API，更多详情请参阅相关的js教程。
              </pre>
            </div>
          </div>
        </div>
      </div>
      <div class="row" data-bind="if:businessPOJO">
        <div class="col-sm-12">
          <div class="card card-mini">
            <div class="card-header" style="padding-bottom:0px">
              <div class="card-title">
                <i class="fa fa-diamond">&nbsp;Server Request Entity&nbsp;&nbsp;&nbsp;</i>
                <button onclick="Matrix_UI.switch_div_display('common_table_div');
                      Matrix_UI.switch_div_display('special_table_div');
                      vm.businessPOJO().spvm.retrieveData()" type="button" class="btn btn-default" style="padding: 6px 12px;margin-bottom: 0px;">
                  <span class="fa fa-barcode" aria-hidden="true"></span> &nbsp;Switch Table
                </button>
                <span class="pull-right" style="margin-right:18px;">
                  <form class="form-inline">
                    <nav>
                      <span class="pull-left">
                        <input data-bind="value:businessPOJO().entityName" type="text" class="form-control" onkeydown="if(event.keyCode==13)return false;" placeholder="Entity Name" style="margin-left: 18px;padding-bottom: 8px;">
                        <button id="search_button" onclick="vm.businessPOJO().spvm.retrieveData()" type="button" class="btn btn-default" style="margin-bottom:15px;padding: 10px 15px;margin-left: -4px;"><i class="fa fa-search"></i></button>
                      </span>
                    </nav>
                  </form>
                </span>
              </div>
            </div>
            <div class="card-body" style="padding: 20px 30px">
              <div>
                <div data-bind="with:businessPOJO().spvm">
                  <div class="panel-body" data-bind="visible: hasServerResponse()">
                  <!--<div class="panel-body" >-->

                    <div class="row" id='common_table_div' style="display:none">
                      <div class="col-md-12" style="overflow: auto">
                        <table class="table table-striped table-hover" cellspacing="0">
                          <thead>
                            <tr>
                              <!-- ko foreach: columnNames -->
                              <th>
                                <span data-bind="text: $data"></span>
                              </th>
                              <!-- /ko -->
                            </tr>
                          </thead>
                          <tbody data-bind="foreach: viewData">
                            <tr data-bind="foreach: $data">
                              <td data-bind="text: $data"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="row" id='special_table_div'>
                      <div class="col-md-12" style="overflow: auto">
                        <table class="table table-striped  table-hover" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th>id</th>
                              <th>name</th>
                              <th>description</th>
                              <th>enabled</th>
                              <th>action</th>
                            </tr>
                          </thead>
                          <tbody data-bind="foreach: viewData">
                            <tr>
                              <td>
                                <span data-bind="text:$data[0]" />
                              </td>
                              <td>
                                <span data-bind="text:$data[14]" />
                              </td>
                              <td>
                                <span data-bind="text:$data[9]" />
                              </td>
                              <td>
                                <span data-bind="text:$data[10]?'Y':'N'" />
                              </td>
                              <td>
                                <button type="button" class="btn btn-link " title="detail">
                                  <div class="title"><i class="fa fa-barcode fa-1x"></i></div>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="matrix-pager-v3">
                      <form class="form-inline">
                        <nav>
                          <span class="pull-left">
                            <label class="control-label" style="margin-bottom: 12px;">Total Counts:<span data-bind="text:totalCounts()?totalCounts():0"></span></label>
                            <input data-bind="value:searchKeyword" type="text" class="form-control" placeholder="Search..." style="margin-left: 18px;">
                            <button data-bind="click:function(){searchByKeyword()}" type="submit" class="btn btn-default" style="margin-bottom:15px;padding: 10px 15px;margin-left: -4px;"><i class="fa fa-search"></i></button>
                          </span>
                          <span class="pull-right">
                            <button data-bind="click:function(){toPage(1)}" type="button" class="btn btn-default " style="padding: 10px 12px;"><i class="fa fa-angle-double-left"></i> &nbsp;First</button>
                            <button data-bind="click:function(){toPage(currentPageNumber()-1)}" type="button" class="btn btn-default " style="padding: 10px 12px;"><i class="fa fa-angle-left"></i> &nbsp;Previous</button>
                            <input data-bind="value:currentPageNumber" type="text" class="form-control" placeholder="Page" style="width:60px;margin-bottom:5px;padding:10px;text-align: center;">
                            <button data-bind="visible:false,click:function(){}" type="submit" class="btn"><span class="fui-search"></span></button>
                            <button data-bind="click:function(){toPage(currentPageNumber()+1)}" type="button" class="btn btn-default " style="padding: 10px 12px;">Next &nbsp;<i class="fa fa-angle-right"></i></button>
                            <button data-bind="click:function(){toPage(totalPage())}" type="button" class="btn btn-default " style="padding: 10px 12px;">Last &nbsp;<i class="fa fa-angle-double-right"></i></button>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span data-bind="text:pageMaxSize()"></span> <span class="caret"></span></button>
                              <ul class="dropdown-menu" role="menu" data-bind="foreach: pagingSizeArray">
                                <li><a data-bind="click:function(){$parent.pageMaxSize($data)}" href="#"><span data-bind="text:$data"></span></a></li>
                              </ul>
                            </div>
                          </span>
                        </nav>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--BUSINESS DIV FINISHED-->


      <!--TEMPLATE DIV BEGIN-->
      <div id="template-matrix-dynamic-table-div"></div>
      <div id="template-matrix-modal-div"></div>
      <div id="template-matrix-footer-div"></div>
      <!--TEMPLATE DIV BEGIN-->
    </div>
  </div>
  <!-- Javascript for Matrix Referenced -->
  <script src="../assets/reference/flat-admin/assets/js/vendor_min.js"></script>
  <script src="../assets/reference/flat-admin/assets/js/app.js"></script>
  <script src="../assets/reference/codemirror/codemirror.js"></script>
  <script src="../assets/reference/codemirror/mode/javascript/javascript.js"></script>
  <script src="../assets/reference/codemirror/mode/markdown/markdown.js"></script>
  <script src="../assets/reference/jquery/jquery.json.js"></script>
  <script src="../assets/reference/jquery/jquery.blockUI.js"></script>
  <script src="../assets/reference/knockout.js/knockout-3.3.0.js"></script>
  <script src="../assets/reference/jquery-tiny-pubsub/tiny-pubsub.js"></script>
  <script src="../assets/reference/markdown/markdown.min.js"></script>
  <script src="../assets/reference/jquery-ui/jquery-ui.js"></script>
  <script src="../assets/reference/lodash/lodash-4.15.0.js"></script>
  <script src="../assets/reference/gridstack/gridstack.all.js"></script>
  <script src="../assets/reference/echarts/echarts-min.js"></script>
  <script src="../assets/reference/echarts/dataTools.js"></script>
  <!-- Javascript for Matrix Self Owned -->

  <script src="../assets/self-owned/js/generic/generic_vm.js"></script>

  <script src="../assets/self-owned/js/refine/matrix_ui.js"></script>
  <script src="../assets/self-owned/js/refine/matrix_util.js"></script>
  <script src="../assets/self-owned/js/refine/matrix_components.js"></script>
  <script src="../assets/self-owned/js/refine/matrix_table.js"></script>
  <script src="../assets/self-owned/js/refine/matrix_vm.js"></script>
  <script src="matrix-request.js"></script>


  <script>
    $(document).ready(function() {
      init_matrix_dom_env();
      setTimeout(function() {
        $('#navbar_search_li').css('display', '');
        $('#navbar_title_li').text('Matrix Reqeust');
      }, 1000)
    });

    $.subscribe("get_user_detail_chain_finished", env_setup);
  </script>
</body>

</html>
