<div id="client_table_template_div" >
  <div class="row">
    <div class="col-md-12" style="overflow: auto">
      <div id="preview" class=""> </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="overflow: auto">
      <table class="table table-striped" cellspacing="0">
        <thead>
          <tr data-bind="foreach:columnNames">
            <th>
              <span data-bind="text: $data"></span>
            </th>
          </tr>
        </thead>
        <tbody data-bind="foreach:thinViewData">
          <tr data-bind="visible:isDisplay,foreach: data">
            <td data-bind="text: $data"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="matrix-pager-example" data-bind="visible:isDisplayPager">
    <nav class="matrix-pager " role="navigation">

      <div class="collapse navbar-collapse" id="navbar-collapse-01">

        <ul class="nav navbar-nav navbar-right ">
          <li><a data-bind="click:function(){toPage(1)}" href="#"><i class="fa fa-angle-double-left"></i> &nbsp;首页</a></li>
          <li><a data-bind="click:function(){toPage(currentPageNumber()-1)}" href="#"><i class="fa fa-angle-left"></i> &nbsp;上页</a></li>
          <li>
            <form class="navbar-form navbar-center" action="#" role="search" style="width:68px;margin-left: -20px;">
              <div class="form-group">
                <div class="input-group">
                  <input data-bind="value:currentPageNumber" class="form-control text-center" type="search" placeholder="页数" style="width:50px;border-radius: 0px;">
                  <span class="input-group-btn" style="padding-left: 3px;">
              <button data-bind="visible:false,click:function(){}" type="submit" class="btn"><span class="fui-search"></span></button>
                  </span>
                </div>
              </div>
            </form>
          </li>
          <li><a data-bind="click:function(){toPage(currentPageNumber()+1)}" href="#">下页 &nbsp;<i class="fa fa-angle-right"></i></a></li>
          <li><a data-bind="click:function(){toPage(totalPage())}" href="#"> 末页 &nbsp;<i class="fa fa-angle-double-right"></i></a></li>
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">每页<span data-bind="text:pageMaxSize()"></span>条<b class="caret"></b></a>
            <span class="dropdown-arrow"></span>
            <ul class="dropdown-menu" data-bind="foreach: pagingSizeArray">
              <li><a data-bind="click:function(){$parent.pageMaxSize($data)}" href="#"><span data-bind="text:$data"></span></a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a href="#">结果总数:<span data-bind="text:totalCounts()?totalCounts():0"></span>条</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="#" role="search">
          <div class="form-group">
            <div class="input-group" style="width: 100%;">
              <input data-bind="value:searchKeyword" class="form-control text-center" type="search" placeholder="Search" style="width: 100px;border-radius: 0px;">
              <span class="input-group-btn" style="padding-left: 4px;">
                  <button style="border-radius: 0px;" data-bind="click:function(){buildView()}" type="submit" class="btn"><span class="fui-search"></span></button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </nav>
  </div>
</div>
