<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matrix</title>
  <link rel="shortcut icon" href="../assets/self-owned/ico/favicon.ico">

  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/flat-admin.css">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/yellow.css">

  <link rel="stylesheet" href="../assets/reference/codemirror/codemirror.css">

  <link rel="stylesheet" href="../assets/reference/github-markdown-css/github-markdown.css">

  <link rel="stylesheet" type="text/css" href="../assets/self-owned/css/matrix_v3.css">

  <link rel="stylesheet" type="text/css" href="../assets/reference/bootstrap-fileinput/css/fileinput_ly.css" media="all">



</head>

<body>

  <div class="app app-blue-sky">

    <aside class="app-sidebar" id="sidebar"></aside>
    <div class="app-container" id="main_content_div">

      <nav class="navbar navbar-default navbar-fixed-top" id="navbar" style="margin-left: 180px;"></nav>

      <div class="seperate_div_class" style="margin-top:118px"></div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card card-mini">
            <div class="card-header">
              <i class="fa fa-diamond">&nbsp;Transformer&nbsp;&nbsp;&nbsp;</i>
            </div>
            <div class="card-body">
              <div class="flat-matrix">
                <p class="text-center" id="show_scalable_region_div">
                  <button type="button" onclick="show_configuration_panel()" class="btn btn-default" style="border: 0px solid;box-shadow: none;"><i class="fa fa-angle-double-down"></i></button>
                </p>
                <div class="row" id="scalable_region_div" style="display:none">
                  <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible fresh-color" role="alert" style="margin-top: 16px;">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-close"></i></button>
                      <strong><i class="fa fa-refresh fa-2x fa-spin"></i>&nbsp;成功! </strong> 工作台返回的成功级别信息， 详细描述及成功代码。
                    </div>
                    <div class="alert alert-info alert-dismissible fresh-color" role="alert" style="margin-top: 16px;">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-close"></i></button>
                      <strong><i class="fa fa-spinner fa-3x fa-spin"></i>&nbsp;信息!</strong> 工作台返回的信息级别信息，详细描述及信息代码。
                    </div>
                    <div class="alert alert-warning alert-dismissible fresh-color" role="alert" style="margin-top: 16px;">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-close"></i></button>
                      <strong><i class="fa fa-warning fa-4x"></i>&nbsp;警告！</strong> 工作台返回的警告级别信息， 详细描述及警告代码。
                    </div>
                    <div class="alert alert-danger alert-dismissible fresh-color" role="alert" style="margin-top: 16px;">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-close"></i></button>
                      <strong><i class="fa fa-warning fa-6x"></i>&nbsp;错误！</strong> 工作台返回的错误级别信息，详细描述及错误代码。
                    </div>
                  </div>
                </div>
                <p class="text-center" id="hide_scalable_region_div" style="display:none">
                  <button type="button" onclick="hide_configuration_panel()" class="btn btn-default" style="border: 0px solid;box-shadow: none;"><i class="fa fa-angle-double-up"></i></button>
                </p>
                <script>
                  function hide_configuration_panel() {
                    hide_div('scalable_region_div');
                    show_div('show_scalable_region_div');
                    hide_div('hide_scalable_region_div');
                  }

                  function show_configuration_panel() {
                    show_div('scalable_region_div');
                    hide_div('show_scalable_region_div');
                    show_div('hide_scalable_region_div');
                  }
                </script>
              </div>

              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="text-align:right">
                    <span style="font-weight: bold;font-size: 16px;">Name</span>
                    <i class="fa fa-asterisk" style="color: #E74C3C;"></i>
                  </label>
                  <div class="col-sm-4">
                    <p class="form-control-static">Matrix Component</p>
                  </div>
                  <label class="col-sm-2 control-label" style="text-align:right">
                    <span style="font-weight: bold;font-size: 16px;">Version</span>
                    <i class="fa fa-asterisk" style="color: #E74C3C;"></i>
                  </label>
                  <div class="col-sm-4">
                    <p class="form-control-static">3.14</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="text-align:right">
                    <span style="font-weight: bold;font-size: 16px;">Owner</span>
                  </label>
                  <div class="col-sm-4">
                    <p class="form-control-static">BUPT Scripter Team</p>
                  </div>
                  <label class="col-sm-2 control-label" style="text-align:right">
                    <span style="font-weight: bold;font-size: 16px;">Description</span>
                  </label>
                  <div class="col-sm-4">
                    <p class="form-control-static">团队女神多,所以产出高</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="text-align:right">
                    <span style="font-weight: bold;font-size: 16px;">Slogon</span>
                  </label>
                  <div class="col-sm-10">
                    <p class="form-control-static">What you are you do not see, what you see is your shadow. I cannot choose the best. the best chooses me. That i exist is a perpetual surprise which is life. </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="card card-mini">
            <div class="card-header">
              <i class="fa fa-diamond">&nbsp;Detail Information&nbsp;&nbsp;&nbsp;</i>
            </div>
            <div class="card-body">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="text-align:right">
                    <span style="font-weight: bold;font-size: 16px;">Name</span>
                    <i class="fa fa-asterisk" style="color: #E74C3C;"></i>
                  </label>
                  <div class="col-sm-4">
                    <p class="form-control-static">Matrix Component</p>
                  </div>
                  <label class="col-sm-2 control-label" style="text-align:right">
                    <span style="font-weight: bold;font-size: 16px;">Version</span>
                    <i class="fa fa-asterisk" style="color: #E74C3C;"></i>
                  </label>
                  <div class="col-sm-4">
                    <p class="form-control-static">3.14</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="text-align:right">
                    <span style="font-weight: bold;font-size: 16px;">Owner</span>
                  </label>
                  <div class="col-sm-4">
                    <p class="form-control-static">BUPT Scripter Team</p>
                  </div>
                  <label class="col-sm-2 control-label" style="text-align:right">
                    <span style="font-weight: bold;font-size: 16px;">Description</span>
                  </label>
                  <div class="col-sm-4">
                    <p class="form-control-static">团队女神多,所以产出高</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="text-align:right">
                    <span style="font-weight: bold;font-size: 16px;">Slogon</span>
                  </label>
                  <div class="col-sm-10">
                    <p class="form-control-static">What you are you do not see, what you see is your shadow. I cannot choose the best. the best chooses me. That i exist is a perpetual surprise which is life. </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Card</div>
              <ul class="card-action">
                <li class="dropdown">
                  <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action 1</a></li>
                    <li><a href="#">Action 2</a></li>
                    <li><a href="#">Action 3</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              Card Table
            </div>
            <div class="card-body no-padding">
              <div class="table-responsive">
                <table class="table card-table">
                  <thead>
                    <tr>
                      <th>Products</th>
                      <th>Amount</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>MicroSD 64Gb</td>
                      <td>2</td>
                      <td><span class="badge badge-success badge-icon"><i class="fa fa-check" aria-hidden="true"></i><span>Complete</span></span>
                      </td>
                    </tr>
                    <tr>
                      <td>MiniPC i5</td>
                      <td>5</td>
                      <td><span class="badge badge-warning badge-icon"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Pending</span></span>
                      </td>
                    </tr>
                    <tr>
                      <td>Mountain Bike</td>
                      <td>1</td>
                      <td><span class="badge badge-info badge-icon"><i class="fa fa-credit-card" aria-hidden="true"></i><span>Confirm Payment</span></span>
                      </td>
                    </tr>
                    <tr>
                      <td>Notebook</td>
                      <td>1</td>
                      <td><span class="badge badge-danger badge-icon"><i class="fa fa-times" aria-hidden="true"></i><span>Cancelled</span></span>
                      </td>
                    </tr>
                    <tr>
                      <td>Raspberry Pi2</td>
                      <td>6</td>
                      <td><span class="badge badge-primary badge-icon"><i class="fa fa-truck" aria-hidden="true"></i><span>Shipped</span></span>
                      </td>
                    </tr>
                    <tr>
                      <td>Flashdrive 128Mb</td>
                      <td>4</td>
                      <td><span class="badge badge-info  badge-icon"><i class="fa fa-credit-card" aria-hidden="true"></i><span>Confirm Payment</span></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-mini">
            <div class="card-header">
              Card Mini
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-tab card-mini">
            <div class="card-header">
              <ul class="nav nav-tabs">
                <li role="tab1" class="active">
                  <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Card Tab 1</a>
                </li>
                <li role="tab2">
                  <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Card Tab 2</a>
                </li>
              </ul>
            </div>
            <div class="card-body tab-content no-padding">
              <div role="tabpanel" class="tab-pane active" id="tab1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              </div>
              <div role="tabpanel" class="tab-pane" id="tab2">
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nullaip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nullaip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <a class="card card-banner card-green-light">
            <div class="card-body">
              <i class="icon fa fa-shopping-basket fa-4x"></i>
              <div class="content">
                <div class="title">Sale Today</div>
                <div class="value"><span class="sign">$</span>420</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <a class="card card-banner card-blue-light">
            <div class="card-body">
              <i class="icon fa fa-thumbs-o-up fa-4x"></i>
              <div class="content">
                <div class="title">Page Likes</div>
                <div class="value"><span class="sign"></span>2453</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <a class="card card-banner card-yellow-light">
            <div class="card-body">
              <i class="icon fa fa-user-plus fa-4x"></i>
              <div class="content">
                <div class="title">New Registration</div>
                <div class="value"><span class="sign"></span>50</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12">
          <a class="card card-banner card-orange-light">
            <div class="card-body">
              <i class="icon fa fa-coffee fa-4x"></i>
              <div class="content">
                <div class="title">Stock Information</div>
                <div class="value"><span class="sign"></span>50</div>
              </div>
            </div>
          </a>
        </div>


      </div>

      <div class="seperate_div_class" style="margin-top:58px"></div>

      <footer id="footer_div" class="app-footer" style="position:absolute;bottom:0;margin:0 auto;">
        <div class="row">
          <div class="col-xs-12">
            <div class="footer-copyright">
              Copyright © 2016 MATRIX Company Co,Ltd.
            </div>
          </div>
        </div>
      </footer>


    </div>

    <script type="text/javascript" src="../assets/reference/flat-admin/assets/js/vendor_min.js"></script>
    <script type="text/javascript" src="../assets/reference/flat-admin/assets/js/app.js"></script>

    <script src="../assets/reference/codemirror/codemirror.js"></script>
    <script src="../assets/reference/codemirror/mode/javascript/javascript.js"></script>
    <script src="../assets/reference/codemirror/mode/markdown/markdown.js"></script>

    <script src="../assets/reference/jquery/jquery.json.js"></script>
    <script src="../assets/reference/knockout.js/knockout-3.3.0.js"></script>
    <script src="../assets/reference/jquery-tiny-pubsub/tiny-pubsub.js"></script>
    <script src="../assets/reference/markdown/markdown.min.js"></script>

    <!-- Javascript for Matrix Self Owned -->
    <script src="../assets/self-owned/js/generic/generic_algorithm.js"></script>
    <script src="../assets/self-owned/js/generic/generic_cache.js"></script>
    <script src="../assets/self-owned/js/generic/generic_charting.js"></script>
    <script src="../assets/self-owned/js/generic/generic_csv.js"></script>
    <script src="../assets/self-owned/js/generic/generic_cud.js"></script>
    <script src="../assets/self-owned/js/generic/generic_modal.js"></script>
    <script src="../assets/self-owned/js/generic/generic_query.js"></script>
    <script src="../assets/self-owned/js/generic/generic_table.js"></script>
    <script src="../assets/self-owned/js/generic/generic_util.js"></script>
    <script src="../assets/self-owned/js/generic/generic_validation.js"></script>
    <script src="../assets/self-owned/js/generic/generic_workbench.js"></script>






    <script>
      $(document).ready(function() {
        $('#sidebar').load($.getRootPath() + '/components/left_side.html');
        $('#navbar').load($.getRootPath() + '/components/header.html');
        setTimeout(function() {
          // resetCssClass('li_dashboard', 'active');
        }, 200);
      });
    </script>


</body>

</html>
