<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matrix</title>
    <link rel="shortcut icon" href="../assets/self-owned/ico/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/flat-admin.css">
    <!-- Theme -->
    <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue-sky.css">
    <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue.css">
    <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/red.css">
    <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/yellow.css">

    <link rel="stylesheet" href="../assets/reference/codemirror/codemirror.css">

    <link rel="stylesheet" href="../assets/reference/github-markdown-css/github-markdown.css">

    <link rel="stylesheet" type="text/css" href="../assets/self-owned/css/matrix_v3.css">

    <link rel="stylesheet" type="text/css" href="../assets/reference/bootstrap-fileinput/css/fileinput_ly.css" media="all">



  </head>

  <body>

    <div class="app app-blue-sky" id="contentDIV">

      <aside class="app-sidebar" id="sidebar"></aside>
      <div class="app-container" id="main_content_div">

        <nav class="navbar navbar-default navbar-fixed-top" id="navbar" style="margin-left: 180px;"></nav>

        <div class="seperate_div_class" style="margin-top:118px"></div>

        <div class="row" id="response_div" data-bind="visible:resultVisible">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body flat-matrix">
                <div>
                  <div class="alert fresh-color" data-bind="css:styleClass">
                    <strong>
                      <span data-bind="text:resultTitle"></span>
                    </strong>
                    <span data-bind="text:resultSubTitle"></span>
                    <div data-bind="text:resultContent"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="tableDIV">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="card-title">
                  <i class="fa fa-diamond">&nbsp;Table&nbsp;&nbsp;&nbsp;</i>
                  <button onclick="switch_div_display('common_table_div');
                        switch_div_display('special_table_div');
                        ServerPagingQueryPOJO.example_query_action()" type="button" class="btn btn-default" style="padding: 6px 12px;margin-bottom: 0px;">
                    <span class="fa fa-barcode" aria-hidden="true"></span>
                  </button>
                  <span class="pull-right" style="margin-right:18px;">
                    <form class="form-inline">
                      <nav>
                        <span class="pull-left">
                          <input data-bind="value:entityClassName" type="text" class="form-control" placeholder="Entity Name" style="margin-left: 18px;padding-bottom: 8px;">
                          <button onclick="viewModel.retrieveData()" type="button" class="btn btn-default" style="margin-bottom:15px;padding: 10px 15px;margin-left: -4px;"><i class="fa fa-search"></i></button>
                        </span>
                      </nav>
                    </form>
                  </span>
                </div>

              </div>
              <div class="card-body flat-matrix">
                <div>
                  <br>
                  <div class="panel-body" data-bind="visible: hasServerResponse()">
                    <div class="row" id='common_table_div' style="display:none">
                      <div class="col-md-12" style="overflow: auto">
                        <table class="table table-striped table-hover" cellspacing="0">
                          <thead>
                            <tr>
                              <!-- ko foreach: columnNames -->
                              <th>
                                <span data-bind="text: $data"></span>
                              </th>
                              <!-- /ko -->
                            </tr>
                          </thead>
                          <tbody data-bind="foreach: viewData">
                            <tr data-bind="foreach: $data">
                              <td data-bind="text: $data"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="row" id='special_table_div'>
                      <div class="col-md-12" style="overflow: auto">
                        <table class="table table-striped  table-hover" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th>id</th>
                              <th>name</th>
                              <th>description</th>
                              <th>enabled</th>
                              <th>action</th>
                            </tr>
                          </thead>
                          <tbody data-bind="foreach: viewData">
                            <tr>
                              <td>
                                <span data-bind="text:$data[0]" />
                              </td>
                              <td>
                                <span data-bind="text:$data[14]" />
                              </td>
                              <td>
                                <span data-bind="text:$data[9]" />
                              </td>
                              <td>
                                <span data-bind="text:$data[10]?'Y':'N'" />
                              </td>
                              <td>
                                <button type="button" class="btn btn-link " title="detail">
                                  <div class="title"><i class="fa fa-barcode fa-1x"></i></div>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="matrix-pager-v3">
                      <form class="form-inline">
                        <nav>
                          <span class="pull-left">
                            <label class="control-label" style="margin-bottom: 12px;">Total Counts:<span data-bind="text:totalCounts()?totalCounts():0"></span></label>
                            <input data-bind="value:searchKeyword" type="text" class="form-control" placeholder="Search..." style="margin-left: 18px;">
                            <button data-bind="click:function(){searchByKeyword()}" type="submit" class="btn btn-default" style="margin-bottom:15px;padding: 10px 15px;margin-left: -4px;"><i class="fa fa-search"></i></button>
                          </span>
                          <span class="pull-right">
                            <button data-bind="click:function(){toPage(1)}" type="button" class="btn btn-default " style="padding: 10px 12px;"><i class="fa fa-angle-double-left"></i> &nbsp;First</button>
                            <button data-bind="click:function(){toPage(currentPageNumber()-1)}" type="button" class="btn btn-default " style="padding: 10px 12px;"><i class="fa fa-angle-left"></i> &nbsp;Previous</button>
                            <input data-bind="value:currentPageNumber" type="text" class="form-control" placeholder="Page" style="width:60px;margin-bottom:5px;padding:10px;text-align: center;">
                            <button data-bind="visible:false,click:function(){}" type="submit" class="btn"><span class="fui-search"></span></button>
                            <button data-bind="click:function(){toPage(currentPageNumber()+1)}" type="button" class="btn btn-default " style="padding: 10px 12px;">Next &nbsp;<i class="fa fa-angle-right"></i></button>
                            <button data-bind="click:function(){toPage(totalPage())}" type="button" class="btn btn-default " style="padding: 10px 12px;">Last &nbsp;<i class="fa fa-angle-double-right"></i></button>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span data-bind="text:pageMaxSize()"></span> <span class="caret"></span></button>
                              <ul class="dropdown-menu" role="menu" data-bind="foreach: pagingSizeArray">
                                <li><a data-bind="click:function(){$parent.pageMaxSize($data)}" href="#"><span data-bind="text:$data"></span></a></li>
                              </ul>
                            </div>
                          </span>
                        </nav>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>


        <div class="seperate_div_class" style="margin-top:58px"></div>

        <footer id="footer_div" class="app-footer" style="position:absolute;bottom:0;margin:0 auto;">
          <div class="row">
            <div class="col-xs-12">
              <div class="footer-copyright">
                Copyright © 2016 MATRIX Company Co,Ltd.
              </div>
            </div>
          </div>
        </footer>


      </div>
    </div>

    <script type="text/javascript" src="../assets/reference/flat-admin/assets/js/vendor_min.js"></script>
    <script type="text/javascript" src="../assets/reference/flat-admin/assets/js/app.js"></script>

    <script src="../assets/reference/codemirror/codemirror.js"></script>
    <script src="../assets/reference/codemirror/mode/javascript/javascript.js"></script>
    <script src="../assets/reference/codemirror/mode/markdown/markdown.js"></script>

    <script src="../assets/reference/jquery/jquery.json.js"></script>
    <script src="../assets/reference/jquery/jquery.blockUI.js"></script>
    <script src="../assets/reference/knockout.js/knockout-3.3.0.js"></script>
    <script src="../assets/reference/jquery-tiny-pubsub/tiny-pubsub.js"></script>
    <script src="../assets/reference/markdown/markdown.min.js"></script>

    <!-- Javascript for Matrix Self Owned -->
    <script src="../assets/self-owned/js/generic/generic_algorithm.js"></script>
    <script src="../assets/self-owned/js/generic/generic_cache.js"></script>
    <script src="../assets/self-owned/js/generic/generic_charting.js"></script>
    <script src="../assets/self-owned/js/generic/generic_csv.js"></script>
    <script src="../assets/self-owned/js/generic/generic_cud.js"></script>
    <script src="../assets/self-owned/js/generic/generic_modal.js"></script>
    <script src="../assets/self-owned/js/generic/generic_query.js"></script>
    <script src="../assets/self-owned/js/generic/generic_table.js"></script>
    <script src="../assets/self-owned/js/generic/generic_util.js"></script>
    <script src="../assets/self-owned/js/generic/generic_validation.js"></script>
    <script src="../assets/self-owned/js/generic/generic_workbench.js"></script>






    <script>
                            $(document).ready(function () {
                                $('#sidebar').load($.getRootPath() + '/components/left_side.html');
                                $('#navbar').load($.getRootPath() + '/components/header.html');
                                setTimeout(function () {
                                    // resetCssClass('li_dashboard', 'active');
                                }, 200);
                            });
    </script>


    <script>
      // *******Server Side Retrieve Data JS Code*******

      var retrieveData = function () {
          responseViewModel.reset()
          // if (!preQueryAction()) {
          //     return;
          // }
          // LoaderUtil.add('tableDIV');

          var queryPOJO = ClonePOJO.shallowClone(ServerPagingQueryPOJO.queryPOJO);
          $(queryPOJO).attr("currentPageNumber", viewModel.currentPageNumber());
          // var headers = viewModel.columnNames();
          // var likeVar = {};
          // $.each(headers,function(index,value){
          //   likeVar[value] = viewModel.searchKeyword();
          // });

          var likeVar = {
              'name': viewModel.searchKeyword(),
          "description": viewModel.searchKeyword()
        }
        var eqVar = {
          // 'description': '3'
          // "description": viewModel.searchKeyword()
        };
        var inVar = {};
        $(queryPOJO).attr("className", viewModel.entityClassName());
        $(queryPOJO).attr("likeORMap", likeVar);
        $(queryPOJO).attr("eqMap", eqVar);
        $(queryPOJO).attr("inMap", inVar);
        var data = {
          'queryJson': $.toJSON(queryPOJO)
        };
        $.serverRequest($.getServerRoot() + '/service_generic_query/api/query', data, "SEARCH_SUCCESS_LISTENER", "PAGING_SEARCH_FAILED", "SERVICE_GENERIC_QUERY_FAILED");
      }
    </script>



    <script>
      // *******Server Side Retrieve Data Listener JS Code*******
      $.subscribe("SEARCH_SUCCESS_LISTENER", successListener);
      $.subscribe("PAGING_SEARCH_FAILED", failedListener);
      $.subscribe("SERVICE_GENERIC_QUERY_FAILED", failedServiceListener);

      function failedServiceListener() {
        responseViewModel.errorResponse("SERVICE 'GENERIC QUERY' FAILED! Please contact with the system admin for more information...")
      }

      function failedListener() {
        if (arguments && arguments[1]) {
          var errorMessage = arguments[1].errorMessage;
          responseViewModel.errorResponse(errorMessage)
        }
      }

      function successListener() {
        if (arguments && arguments[1]) {
          var headers = AlgorithmPOJO.buildKeys(arguments[1].result);
          viewModel.buildSearchData(arguments[1]);
        }
      }
    </script>

    <script>
      // *******Data Bind JS Code*******
      var responseViewModel = new ResponseViewModel();
      ko.applyBindings(responseViewModel, document.getElementById('response_div'));

      var viewModel = new ServerPagingViewModel();
      ko.applyBindings(viewModel, document.getElementById('tableDIV'));
      viewModel.retrieveData = retrieveData;
    </script>

    <script>
      // retrieveData();
    </script>

  </body>

</html>
