<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matrix</title>
  <link rel="shortcut icon" href="../assets/self-owned/ico/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/flat-admin.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/yellow.css">
  <link rel="stylesheet" href="../assets/reference/codemirror/codemirror.css">
  <link rel="stylesheet" href="../assets/reference/github-markdown-css/github-markdown.css">
  <link rel="stylesheet" type="text/css" href="../assets/self-owned/css/matrix_v3.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/bootstrap-fileinput/css/fileinput_ly.css" media="all">
  <link rel="stylesheet" type="text/css" href="../assets/reference/fuelux/fuelux.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/gridstack/gridstack.css" />
  <link rel="stylesheet" type="text/css" href="../assets/reference/gridstack/gridstack-extra.css" />
</head>

<body>
  <div class="app app-blue-sky" id="contentDIV">
    <aside class="app-sidebar" id="sidebar"></aside>
    <div class="app-container" id="main_content_div">
      <nav class="navbar navbar-default navbar-fixed-top" id="navbar" style="margin-left: 180px;"></nav>
      <div class="seperate_div_class" style="margin-top:118px"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <i class="fa fa-diamond">&nbsp;Dynamic Table&nbsp;&nbsp;&nbsp;</i>
                <button title="Edit" type="button" onclick="ModalUtil.popup_modal('Dynamic Table Setting', '/components/modal_content_dynamic_table.html', null, null, null);" class="btn btn-default" style="padding: 6px 12px;margin-bottom: 0px;"><i class="fa fa-edit"></i></button>
                <button title="Clone" type="button" onclick="t()" class="btn btn-default" style="padding: 6px 12px;margin-bottom: 0px;"><i class="fa fa-paste"></i></button>
              </div>
            </div>
            <div class="card-body flat-matrix">
              <div class="row">
                <div class="col-md-12" id="ko_div">
                  <h4>Dynamic Table Generation:</h4>
                  <!-- <input type="text" class="form-control" placeholder="This is the data source URL" data-bind="value:table_data_source"> -->
                  <div id="matrix_dynamic_table_parent_div">
                    <matrix_dynamic_table params="value: table_data_source"></matrix_dynamic_table>

                  </div>
                </div>
                <div class="col-md-12" id="ko_copy_div">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="template-matrix-dynamic-table-div"></div>
    <div id="wrapped_matrix_dynamic_table_div" style="display:none">
      <matrix_dynamic_table params="value: table_data_source"></matrix_dynamic_table>
    </div>

    <div class="modal fade" id="popupModalPro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" style="width:1000px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="fa fa-power-off"></i> &nbsp; <span class="modal-title" id="popupModalLabelPro"></span>
          </div>
          <div class="modal-body">
            <div id="modalContentDIVPro"></div>
          </div>
        </div>
      </div>
    </div>



    <script type="text/javascript" src="../assets/reference/flat-admin/assets/js/vendor_min.js"></script>
    <script type="text/javascript" src="../assets/reference/flat-admin/assets/js/app.js"></script>
    <script src="../assets/reference/codemirror/codemirror.js"></script>
    <script src="../assets/reference/codemirror/mode/javascript/javascript.js"></script>
    <script src="../assets/reference/codemirror/mode/markdown/markdown.js"></script>
    <script src="../assets/reference/jquery/jquery.json.js"></script>
    <script src="../assets/reference/jquery/jquery.blockUI.js"></script>
    <script src="../assets/reference/knockout.js/knockout-3.3.0.js"></script>
    <script src="../assets/reference/jquery-tiny-pubsub/tiny-pubsub.js"></script>
    <script src="../assets/reference/markdown/markdown.min.js"></script>
    <script src="../assets/reference/jquery-ui/jquery-ui.js"></script>
    <script src="../assets/reference/lodash/lodash-4.15.0.js"></script>
    <script src="../assets/reference/gridstack/gridstack.all.js"></script>
    <script src="../assets/reference/echarts/echarts-min.js"></script>
    <script src="../assets/reference/echarts/dataTools.js"></script>
    <!-- Javascript for Matrix Self Owned -->
    <script src="../assets/self-owned/js/generic/generic_algorithm.js"></script>
    <script src="../assets/self-owned/js/generic/generic_cache.js"></script>
    <script src="../assets/self-owned/js/generic/generic_charting_v4.js"></script>
    <script src="../assets/self-owned/js/generic/generic_csv.js"></script>
    <script src="../assets/self-owned/js/generic/generic_cud.js"></script>
    <script src="../assets/self-owned/js/generic/generic_modal.js"></script>
    <script src="../assets/self-owned/js/generic/generic_query.js"></script>
    <script src="../assets/self-owned/js/generic/generic_table.js"></script>
    <script src="../assets/self-owned/js/generic/generic_util.js"></script>
    <script src="../assets/self-owned/js/generic/generic_validation.js"></script>
    <script src="../assets/self-owned/js/generic/generic_workbench.js"></script>
    <script src="../assets/self-owned/js/generic/generic_dynamic.js"></script>


    <script>
      var matrixTable = new MatrixTable();
      $(document).ready(function() {
        $('#sidebar').load($.getRootPath() + '/components/left_side.html');
        $('#navbar').load($.getRootPath() + '/components/header.html');
        $('#template-matrix-dynamic-table-div').load($.getRootPath() + '/components/template-matrix-dynamic-table.html');

        setTimeout(function(){
          MATRIX_DYNAMIC_TABLE_ENV_SETUP();
          ko.applyBindings(matrixTable,document.getElementById('matrix_dynamic_table_parent_div'));
        },1000)
      });
    </script>




    <script>








    // ModalUtil.popup_modal('Dynamic Table Setting', '/components/modal_content_dynamic_table.html', null, null, null);
    </script>


    <script>
      function t(){
        show_div('clone_div');
        clone_table_chain('clone_table_parent_div','cloned_table_div',matrixTable);
      }


      function create_dynamic_table(ds){
        show_div('clone_div');
        var new_div_id = 'cloned_table_div';
        //1, clone matrix table wrapper div
        clone_component('clone_table_parent_div','wrapped_matrix_dynamic_table_div','cloned_table_div');

        //2, initialize view model
        var vm = new MatrixTable();
        ko.cleanNode($('#'+new_div_id)[0]);
        ko.applyBindings(vm,document.getElementById(new_div_id));

        //3, data bind
        setTimeout(function() {
          if(ds && vm){
            vm.table_data_source(ds);
          }
        }, 500);

        //4, cache vm
        var cache = {
          'key':new_div_id,
          'vm':vm
        }

        Matrix_Dynamic_Table_Cache.push(cache);
      }
    </script>

</body>

</html>
