<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matrix</title>
    <link rel="shortcut icon" href="../assets/self-owned/ico/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/flat-admin.css">
    <!-- Theme -->
    <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue-sky.css">
    <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue.css">
    <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/red.css">
    <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/yellow.css">

    <link rel="stylesheet" href="../assets/reference/codemirror/codemirror.css">

    <link rel="stylesheet" href="../assets/reference/github-markdown-css/github-markdown.css">

    <link rel="stylesheet" type="text/css" href="../assets/self-owned/css/matrix_v3.css">

    <link rel="stylesheet" type="text/css" href="../assets/reference/bootstrap-fileinput/css/fileinput_ly.css" media="all">
    <link rel="stylesheet" type="text/css" href="../assets/reference/fuelux/fuelux.min.css">


  </head>

  <body>

    <div class="app app-blue-sky" id="contentDIV">

      <aside class="app-sidebar" id="sidebar"></aside>
      <div class="app-container" id="main_content_div">

        <nav class="navbar navbar-default navbar-fixed-top" id="navbar" style="margin-left: 180px;"></nav>

        <div class="seperate_div_class" style="margin-top:118px"></div>

        <div class="row">
          <div class="col-md-3" id="tree_content_div">
            <div class="card">
              <div class="card-header">
                <div class="card-title">
                  <i class="fa fa-diamond">&nbsp;Tree&nbsp;&nbsp;&nbsp;</i>
                  <span class="pull-right" style="margin-right:0px">
                    <button id="undispaly_config_button" onclick="hide_tree_div();" title="Hide" type="button" class="btn btn-default btn-xs" style="padding: 6px 12px;margin-bottom: 0px;"><i class="fa fa-eye-slash"></i></button>
                  </span>
                </div>
              <script>
              function hide_tree_div(){
                hide_div('tree_content_div');
                resetCssClass('demo_content_div','col-md-12');
                show_div('dispaly_config_button');hide_div('undispaly_config_button');
              }

              function show_tree_div(){
                show_div('tree_content_div');
                resetCssClass('demo_content_div','col-md-9');
                hide_div('dispaly_config_button');show_div('undispaly_config_button');
              }
              </script>
              </div>
              <div class="card-body flat-matrix" style="padding: 0px">
                <!-- tree component begin -->
                <!-- need fuelux/tree.js, fuelux/fuelux.min.css -->
                <div class="fuelux" style="color:#666" id="configuration_div">
                  <ul class="tree tree-folder-select" role="tree" id="matrix_tree" style="border:0px solid #666; max-width: 100%; overflow: auto;">
                    <li class="tree-branch hide" data-template="treebranch" role="treeitem" aria-expanded="false">
                      <div class="tree-branch-header">
                        <button type="button" class="glyphicon icon-caret glyphicon-play">
                          <span class="sr-only">Open</span>
                        </button>
                        <button type="button" class="tree-branch-name">
                          <span class="glyphicon icon-folder glyphicon-folder-close"></span>
                          <span class="tree-label"></span>
                        </button>
                      </div>
                      <ul class="tree-branch-children" role="group"></ul>
                      <div class="tree-loader" role="alert">Loading...</div>
                    </li>
                    <li class="tree-item hide" data-template="treeitem" role="treeitem">
                      <button type="button" class="tree-item-name">
                        <span class="glyphicon icon-item fueluxicon-bullet"></span>
                        <span class="tree-label"></span>
                      </button>
                    </li>
                  </ul>
                </div>
                <!-- tree component end -->
              </div>
            </div>
          </div>

          <div class="col-md-9" id="demo_content_div" >
            <div class="card">
              <div class="card-header">
                <div class="card-title">
                   Edit Zone
                </div>
                <span class="pull-right" style="margin-right:0px">
                  <button id="dispaly_config_button" onclick="show_tree_div();" title="Refresh" type="button" class="btn btn-default btn-xs" style="padding: 6px 12px;margin-bottom: 0px;display:none"><i class="fa fa-eye"></i></button>
                </span>
              </div>
              <div class="card-body" style="height:800px">

                <div data-bind="foreach: arr">
                   / <a href="#" data-bind="text: $data.value,click:function(){$parent.test($data)}"></a>
                </div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>

        </div>


        <!--<div class="seperate_div_class" style="margin-top:58px"></div>-->

        <footer id="footer_div" class="app-footer" style="position:absolute;bottom:0;margin:0 auto;">
          <div class="row">
            <div class="col-xs-12">
              <div class="footer-copyright">
                Copyright © 2016 MATRIX Company Co,Ltd.
              </div>
            </div>
          </div>
        </footer>


      </div>
    </div>

    <script type="text/javascript" src="../assets/reference/flat-admin/assets/js/vendor_min.js"></script>
    <script type="text/javascript" src="../assets/reference/flat-admin/assets/js/app.js"></script>

    <script src="../assets/reference/codemirror/codemirror.js"></script>
    <script src="../assets/reference/codemirror/mode/javascript/javascript.js"></script>
    <script src="../assets/reference/codemirror/mode/markdown/markdown.js"></script>

    <script src="../assets/reference/jquery/jquery.json.js"></script>
    <script src="../assets/reference/jquery/jquery.blockUI.js"></script>
    <script src="../assets/reference/knockout.js/knockout-3.3.0.js"></script>
    <script src="../assets/reference/jquery-tiny-pubsub/tiny-pubsub.js"></script>
    <script src="../assets/reference/markdown/markdown.min.js"></script>
    <script src="../assets/reference/fuelux/tree.js"></script>

    <!-- Javascript for Matrix Self Owned -->
    <script src="../assets/self-owned/js/generic/generic_algorithm.js"></script>
    <script src="../assets/self-owned/js/generic/generic_cache.js"></script>
    <script src="../assets/self-owned/js/generic/generic_charting.js"></script>
    <script src="../assets/self-owned/js/generic/generic_csv.js"></script>
    <script src="../assets/self-owned/js/generic/generic_cud.js"></script>
    <script src="../assets/self-owned/js/generic/generic_modal.js"></script>
    <script src="../assets/self-owned/js/generic/generic_query.js"></script>
    <script src="../assets/self-owned/js/generic/generic_table.js"></script>
    <script src="../assets/self-owned/js/generic/generic_util.js"></script>
    <script src="../assets/self-owned/js/generic/generic_validation.js"></script>
    <script src="../assets/self-owned/js/generic/generic_workbench.js"></script>






    <script>
      $(document).ready(function () {
          $('#sidebar').load($.getRootPath() + '/components/left_side.html');
          $('#navbar').load($.getRootPath() + '/components/header.html');
          setTimeout(function () {
              // resetCssClass('li_dashboard', 'active');
          }, 200);
      });
    </script>
    <script type="text/javascript">

      $(function () {
          $('#matrix_tree').on('selected.fu.tree', function (event) {
              var path = $('#matrix_tree').tree('selectedItems')[0].path;
              console.log(path);
              $("#inputPath").val(path);
          });
      })

      initTree();

      function initTree() {
          $('#matrix_tree').tree({
              dataSource: dynamicDataSource,
              multiSelect: false,
              folderSelect: true
          });
          $(window).resize(function () {
              update_tree_size();
          });
          update_tree_size();
      }

      function update_tree_size() {
          var height = 0;
          height = $(window).height() - 290;//这个数可以预先计算或者通过jQuery的height方法得到上面DOM的高度再减去
          $('#matrix_tree').height(height);
      }

      function dynamicDataSource(openedParentData, callback) {
          $.getJSON($.getRootPath() + '/assets/self-owned/data/tree_mock_data.json', function (resp) {
              var childObjectsArray = [];
              var parent_path = openedParentData.path || "";
              for (var i = 0; i < resp.length; i++) {
                  childObjectsArray.push({
                      "name": resp[i].name,
                      "type": resp[i].type,
                      "path": parent_path + "/" + resp[i].name,
                      "attr": {
                          id: resp[i].attr.id,
                          "data-icon": resp[i].attr.icon
                      }
                  });
              }
              callback({
                  data: childObjectsArray
              });
          });
      }
    </script>
    <script>
     var input = "/user/yangliu/data/2017/readme.txt";
     var arr =[];
     var arr_input = input.split("/");
     $.each(arr_input,function(i,v){
       if(v){
         console.log(v);
         arr.push({'index':i,'value':v});
       }
     })
     console.log(arr);

     function AppViewModel() {
         var self = this;

         self.arr = ko.observableArray([]);
         self.test = function(data){
           console.log(data)
           var tmp_arr = [];
           $.each(self.arr(),function(i,v){
              if(i<data.index){
                tmp_arr.push(v);
              }
           });
           self.arr(tmp_arr);
         }


     }
     var app = new AppViewModel();
     app.arr(arr);
     ko.applyBindings(app);

    </script>

  </body>

</html>
