<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matrix</title>
  <link rel="shortcut icon" href="../assets/self-owned/ico/favicon.ico">

  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/flat-admin.css">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/yellow.css">

  <link rel="stylesheet" href="../assets/reference/codemirror/codemirror.css">

  <link rel="stylesheet" href="../assets/reference/github-markdown-css/github-markdown.css">

  <link rel="stylesheet" type="text/css" href="../assets/self-owned/css/matrix_v3.css">

  <link rel="stylesheet" type="text/css" href="../assets/reference/bootstrap-fileinput/css/fileinput_ly.css" media="all">



</head>

<body>

  <div class="app app-blue-sky" id="contentDIV">

    <aside class="app-sidebar" id="sidebar"></aside>
    <div class="app-container" id="main_content_div">

      <nav class="navbar navbar-default navbar-fixed-top" id="navbar" style="margin-left: 180px;"></nav>

      <div class="seperate_div_class" style="margin-top:118px"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <i class="fa fa-diamond">&nbsp;Table&nbsp;&nbsp;&nbsp;</i>
                <button onclick="initialize_table()" type="button" class="btn btn-default" style="padding: 6px 12px;margin-bottom: 0px;">
                  <span class="fa fa-download" aria-hidden="true">&nbsp;Load Data(10w Size)</span>
                </button>
              </div>

            </div>
            <div class="card-body flat-matrix">
              <div data-bind="visible:!(tableModel_no_intialize() && tableModel_no_intialize().hasResult())">
                <div class="alert alert-success alert-dismissible fresh-color" role="alert" style="margin-top: 16px;">
                  <strong><i class="fa fa-warning"></i>&nbsp;Tips:</strong> &nbsp;Table Not Initialized! Please load data first!
                </div>
              </div>
              <div style="display:none" data-bind="visible:(tableModel_no_intialize() && tableModel_no_intialize().hasResult())">
                <div class="row" data-bind="with:tableModel_no_intialize">
                  <div class="col-xs-12">
                    <div id="table_parent_div"></div>
                    <table class="table table-striped table-hover" cellspacing="0">
                      <thead>
                        <tr>
                          <!-- ko foreach: columnNames -->
                          <th>
                            <span data-bind="text: $data"></span>
                          </th>
                          <!-- /ko -->
                        </tr>
                      </thead>
                      <tbody data-bind="foreach:thinViewData">
                        <tr data-bind="visible:isDisplay,foreach: data">
                          <td data-bind="text: $data"></td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="matrix-pager-v3"  data-bind="visible:isDisplayPager">
                      <div class="form-inline">
                        <nav>
                          <form>
                          <span class="pull-left">
                            <label class="control-label" style="margin-bottom: 12px;">Total Counts:<span data-bind="text:totalCounts()?totalCounts():0"></span></label>
                            
                          <input data-bind="value:searchKeyword" type="text" class="form-control" placeholder="Search..." style="margin-left: 18px;">
                          <button data-bind="click:function(){console.log('enter button!');buildView();}" type="submit" class="btn btn-default" style="margin-bottom:15px;padding: 10px 15px;margin-left: -4px;"><i class="fa fa-search"></i></button>
                          </span>
                          </form>
                          <span class="pull-right">
                          <button data-bind="click:function(){toPage(1);}" type="button" class="btn btn-default " style="padding: 10px 12px;"><i class="fa fa-angle-double-left"></i> &nbsp;First</button>
                          <button data-bind="click:function(){toPage(currentPageNumber()-1);}" type="button" class="btn btn-default " style="padding: 10px 12px;"><i class="fa fa-angle-left"></i> &nbsp;Previous</button>
                          <input data-bind="value:currentPageNumber" type="text" class="form-control" placeholder="Page" style="width:60px;margin-bottom:6px;padding:10px;text-align: center;">
                          <button data-bind="visible:false,click:function(){}" type="submit" class="btn"><span class="fui-search"></span></button>
                          <button data-bind="click:function(){toPage(currentPageNumber()+1);}" type="button" class="btn btn-default " style="padding: 10px 12px;">Next &nbsp;<i class="fa fa-angle-right"></i></button>
                          <button data-bind="click:function(){toPage(totalPage());}" type="button" class="btn btn-default " style="padding: 10px 12px;">Last &nbsp;<i class="fa fa-angle-double-right"></i></button>
                          <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span data-bind="text:pageMaxSize()"></span> <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" data-bind="foreach: pagingSizeArray">
                              <li><a data-bind="click:function(){$parent.pageMaxSize($data)}" href="#"><span data-bind="text:$data"></span></a></li>
                            </ul>
                          </div>
                          </span>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>


      <div class="seperate_div_class" style="margin-top:58px"></div>

      <footer id="footer_div" class="app-footer" style="position:absolute;bottom:0;margin:0 auto;">
        <div class="row">
          <div class="col-xs-12">
            <div class="footer-copyright">
              Copyright © 2016 MATRIX Company Co,Ltd.
            </div>
          </div>
        </div>
      </footer>


    </div>

    <script type="text/javascript" src="../assets/reference/flat-admin/assets/js/vendor_min.js"></script>
    <script type="text/javascript" src="../assets/reference/flat-admin/assets/js/app.js"></script>

    <script src="../assets/reference/codemirror/codemirror.js"></script>
    <script src="../assets/reference/codemirror/mode/javascript/javascript.js"></script>
    <script src="../assets/reference/codemirror/mode/markdown/markdown.js"></script>

    <script src="../assets/reference/jquery/jquery.json.js"></script>
    <script src="../assets/reference/jquery/jquery.blockUI.js"></script>
    <script src="../assets/reference/knockout.js/knockout-3.3.0.js"></script>
    <script src="../assets/reference/jquery-tiny-pubsub/tiny-pubsub.js"></script>
    <script src="../assets/reference/markdown/markdown.min.js"></script>

    <!-- Javascript for Matrix Self Owned -->
    <script src="../assets/self-owned/js/generic/generic_algorithm.js"></script>
    <script src="../assets/self-owned/js/generic/generic_cache.js"></script>
    <script src="../assets/self-owned/js/generic/generic_charting.js"></script>
    <script src="../assets/self-owned/js/generic/generic_csv.js"></script>
    <script src="../assets/self-owned/js/generic/generic_cud.js"></script>
    <script src="../assets/self-owned/js/generic/generic_modal.js"></script>
    <script src="../assets/self-owned/js/generic/generic_query.js"></script>
    <script src="../assets/self-owned/js/generic/generic_table.js"></script>
    <script src="../assets/self-owned/js/generic/generic_util.js"></script>
    <script src="../assets/self-owned/js/generic/generic_validation.js"></script>
    <script src="../assets/self-owned/js/generic/generic_workbench.js"></script>






    <script>
      $(document).ready(function() {
        $('#sidebar').load($.getRootPath() + '/components/left_side.html');
        $('#navbar').load($.getRootPath() + '/components/header.html');
        setTimeout(function() {
          // resetCssClass('li_dashboard', 'active');
        }, 200);
      });
    </script>
    <script>
      function PageModel() {
        var self = this;
        self.tableModel_no_intialize = ko.observable();
      }
      var pageModel = new PageModel();
      var tableModel = new ThinListViewModel();

      pageModel.tableModel = tableModel;

      ko.applyBindings(pageModel, document.getElementById('main_content_div'));

      var retrieveData_mock = function() {
        $.ajax({
          url: $.getRootPath() + "/assets/self-owned/data/data_10W.json",
          type: 'GET',
          dataType: 'json',
          success: function(json) {
            var serverData = json;
            var tableData = DataTransferPOJO.serverJsonData2TableData(serverData);
            tableModel.buildData(tableData.result);
            tableModel.columnNames(tableData.header);
            tableModel.isDisplayPager(true);
            tableModel.buildView();
            tableModel.pageMaxSize(5);
            pageModel.tableModel_no_intialize(tableModel);
          },
          error: function(xhr, status) {
            console.log('Sorry, there was a problem on SERVER_REQUEST_ACTION process!');
          },
          complete: function(xhr, status) {}
        });
      }



      var initialize_table = function() {
        if (pageModel.tableModel_no_intialize() == null) {
          retrieveData_mock();
        }
      }
    </script>

</body>

</html>
