<div id="genericModalDiv">
  <!--LOADER DIV BEGIN-->
  <div class="loader-container text-center">
    <div class="icon">
      <div class="sk-wave">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
      </div>
    </div>
    <div class="title">Loading</div>
  </div>
  <!--LOADER DIV BEGIN-->

  <!--RESULT DISPLAY DIV BEGIN-->
  <div class="flat-matrix">
    <div id="resultDIV" data-bind="visible: hasResult,css: styleClass" class="alert fresh-color">
      <button type="button" class="close" data-bind="click:function(){hasResult(!hasResult)}" aria-label="Close"><i class="fa fa-close"></i></button>
      <strong>
      <span data-bind="text:resultTitle"></span>
    </strong>
      <span data-bind="text:resultSubTitle"></span>
      <div data-bind="text:resultContent"></div>
    </div>
  </div>
  <!--RESULT DISPLAY DIV END-->

  <!--Validation DIV BEGIN-->
  <div class="flat-matrix">
    <div data-bind="visible: hasError" class="alert alert-warning alert-dismissible fresh-color" role="alert">
      <button type="button" data-bind="click:function(){hasError(!hasError)}" class="close" aria-label="Close">
        <i class="fa fa-close"></i>
      </button>
      <strong>Warning:</strong>
      <div id="errorMessagesDIV" data-bind="foreach:errorMessage">
        <div data-bind="text:$data"></div>
      </div>
    </div>
  </div>
  <!--Validation DIV END-->

  <div class="business_div_class flat-matrix" data-bind="if:businessPOJO()">
    <div data-bind="with:businessPOJO">
      <div class="step ">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li role="step" class="active">
            <a href="#step1-Original-Horizantal" id="step1-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
              <div class="icon fa fa-key"></div>
              <div class="step-title">
                <div class="title">Information</div>
                <div class="description">Fulfill basic information.</div>
              </div>
            </a>
          </li>
          <li role="step">
            <a href="#step2-Original-Horizantal" role="tab" id="step2-tab" data-toggle="tab" aria-controls="profile">
              <div class="icon fa fa-filter"></div>
              <div class="step-title">
                <div class="title">Additional</div>
                <div class="description">Addition Information.</div>
              </div>
            </a>
          </li>
          <li role="step">
            <a href="#step3-Original-Horizantal" role="tab" id="step3-tab" data-toggle="tab" aria-controls="profile">
              <div class="icon fa fa-flag-checkered"></div>
              <div class="step-title">
                <div class="title">Confirm</div>
                <div class="description">Confirmation your informations.</div>
              </div>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="step1-Original-Horizantal">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <div class="input-group">
                  <span class="input-group-addon">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </span>
                  <input data-bind="value:key" type="text" class="form-control" placeholder="Key" aria-describedby="basic-addon1" value="">
                  <span class="input-group-addon">
                      <i class="fa fa-asterisk" style="color: #E74C3C;"></i>
                    </span>
                </div>
              </div>
              <div class="col-xs-10 col-xs-offset-1">
                <div class="input-group">
                  <span class="input-group-addon">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </span>
                  <input data-bind="value:value" type="text" class="form-control" placeholder="Value" aria-describedby="basic-addon1" value="">
                  <span class="input-group-addon">
                      <i class="fa fa-asterisk" style="color: #E74C3C;"></i>
                    </span>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="step2-Original-Horizantal">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <div class="input-group">
                  <span class="input-group-addon">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </span>
                  <input data-bind="value:project" type="text" class="form-control" placeholder="Project" aria-describedby="basic-addon1" value="">
                </div>
              </div>
              <div class="col-xs-10 col-xs-offset-1">
                <div class="input-group">
                  <span class="input-group-addon">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </span>
                  <input data-bind="value:product" type="text" class="form-control" placeholder="Product" aria-describedby="basic-addon1" value="">
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="step3-Original-Horizantal">
            <div class="row">
              <div class="col-xs-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label" style="text-align:right">
                      <span style="font-weight: bold;font-size: 16px;">Key</span>
                      <i class="fa fa-asterisk" style="color: #E74C3C;"></i>
                    </label>
                    <div class="col-sm-4">
                      <p class="form-control-static" data-bind="text:key"></p>
                    </div>
                    <label class="col-sm-2 control-label" style="text-align:right">
                      <span style="font-weight: bold;font-size: 16px;">Value</span>
                      <i class="fa fa-asterisk" style="color: #E74C3C;"></i>
                    </label>
                    <div class="col-sm-4">
                      <p class="form-control-static" data-bind="text:value"></p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" style="text-align:right">
                      <span style="font-weight: bold;font-size: 16px;">Project</span>
                    </label>
                    <div class="col-sm-4">
                      <p class="form-control-static" data-bind="text:project"></p>
                    </div>
                    <label class="col-sm-2 control-label" style="text-align:right">
                      <span style="font-weight: bold;font-size: 16px;">Product</span>
                    </label>
                    <div class="col-sm-4">
                      <p class="form-control-static" data-bind="text:product"></p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <hr>
            <div class="pull-right">
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-sm btn-success" onclick="execute()">Execute</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <br>
</div>
<script>
  // Initialize the View Model
  // Clean the paging binding nodes
  // Binding the view Model
  var genericModalViewModel = new GenericModalViewModel();
  ko.cleanNode($('#genericModalDiv')[0]);
  ko.applyBindings(genericModalViewModel, document.getElementById('genericModalDiv'));
</script>

<script>
  // Setup the business model with view model
  (function initialize() {
    // *******YOUR SHOULD CODING IN HERE:*******
    function BusinessPOJO() {
      var self = this;

      self.key = ko.observable('');
      self.value = ko.observable('');
      self.project = ko.observable('');
      self.product = ko.observable('');
    }
    var businessPOJO = new BusinessPOJO();
    genericModalViewModel.businessPOJO(businessPOJO);
  })();

  function execute() {
    // validation failed
    // show validation error message in the warning DIV...
    if (!genericModalViewModel.validation(businessValidation)) {
      return;
    } else {
      // validation correct
      // do your business...
      runService();
    }
  }

  // *******YOUR SHOULD CODING IN HERE:*******
  var businessValidation = function() {
    var errorMessages = [];
    //validate logic...

    //validate
    ValidationPOJO.validate("KEY", genericModalViewModel.businessPOJO().key(), errorMessages, ['KEY_NOT_NULL']);
    ValidationPOJO.validate("VALUE", genericModalViewModel.businessPOJO().value(), errorMessages, ['KEY_MUST_PHONE_NUMBER'], true);

    return errorMessages;
  }

  // *******YOUR SHOULD CODING IN HERE:*******
  var runService = function() {
    console.log("run service function invoked!")
    retrieveData_mock_modal();
  }
  $.subscribe("SUCCESS_LISTENER_modal", successAddListener_modal);
  $.subscribe("FAILED_LISTENER_modal", failedAddListener_modal);
  $.subscribe("SERVER_FAILED_LISTENER_modal", failedServiceListener_modal);

  function successAddListener_modal() {
    if (arguments && arguments[1]) {
      // responseViewModel.correctResponse(arguments[1]);
      genericModalViewModel.response(true, "Entity Operation", "[Successed]", "Operation Successed, please close the console and reload the data.");
    }
  }

  function failedAddListener_modal() {
    if (arguments && arguments[1]) {
      console.log(arguments);
      var errorMessage = arguments[1].errorMessage;
      genericModalViewModel.response(false, "Entity Operation", "[Failed]", errorMessage);
    }
  }

  function failedServiceListener_modal() {
    genericModalViewModel.response(false, "Entity Operation", "[Failed]", "SERVICE 'GENERIC XXX' FAILED! Please contact with the system admin for more information...");
  }



  //--------------------------mock ----------------------------------
  var mock_count = 0; // used for mock up
  var retrieveData_mock_modal = function(currentNotebook, currentIndex) {
    mock_count++;
    if (mock_count % 3 == 1) {
      console.log('request action invoked[request_success]');
      $.serverRequest($.getRootPath() + '/api/mock/success', null, "SUCCESS_LISTENER_modal", "FAILED_LISTENER_modal", "SERVER_FAILED_LISTENER_modal", 'GET');
    } else if (mock_count % 3 == 2) {
      console.log('request action invoked[request_error]');
      $.serverRequest($.getRootPath() + '/api/mock/service_error', null, "SUCCESS_LISTENER_modal", "FAILED_LISTENER_modal", "SERVER_FAILED_LISTENER_modal", 'GET');
    } else if (mock_count % 3 == 0) {
      console.log('request action invoked[request_exception]');
      $.serverRequest($.getRootPath() + '/api/mock/server_error', null, "SUCCESS_LISTENER_modal", "FAILED_LISTENER_modal", "SERVER_FAILED_LISTENER_modal", 'GET');
    }
  }
</script>
