<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matrix</title>
  <link rel="shortcut icon" href="../assets/self-owned/ico/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/flat-admin.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/yellow.css">
  <link rel="stylesheet" href="../assets/reference/codemirror/codemirror.css">
  <link rel="stylesheet" href="../assets/reference/github-markdown-css/github-markdown.css">
  <link rel="stylesheet" type="text/css" href="../assets/self-owned/css/matrix_v3.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/bootstrap-fileinput/css/fileinput_ly.css" media="all">
  <link rel="stylesheet" type="text/css" href="../assets/reference/fuelux/fuelux.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/gridstack/gridstack.css" />
  <link rel="stylesheet" type="text/css" href="../assets/reference/gridstack/gridstack-extra.css" />
</head>

<body>
  <div class="app app-blue-sky" id="contentDIV">
    <aside class="app-sidebar" id="sidebar"></aside>
    <div class="app-container" id="main_content_div">
      <nav class="navbar navbar-default navbar-fixed-top" id="navbar" style="margin-left: 180px;"></nav>
      <div class="seperate_div_class" style="margin-top:118px"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <i class="fa fa-diamond">&nbsp;Dynamic Statistic&nbsp;&nbsp;&nbsp;</i>
                <button title="generic_statistic_chart" type="button" onclick="show_div('content_div');generic_statistic_chart()" class="btn btn-default" style="padding: 6px 12px;margin-bottom: 0px;"><i class="fa fa-pie-chart"></i></button>
                <button title="generic_statistic_table" type="button" onclick="show_div('content_div');generic_statistic_table()" class="btn btn-default" style="padding: 6px 12px;margin-bottom: 0px;"><i class="fa fa-paste"></i></button>
              </div>
            </div>
            <div class="card-body flat-matrix" id="content_div" style="display:none">
              <div class="row">
                <div class="col-md-12" id="content_div_1" style="display:none">
                  <h4>Statistic Dynamic Table Zone:</h4>
                  <div class="col-md-12" id="copy_table_parent_div"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" id="content_div_2" style="display:none">
                  <h4>Statistic Dynamic Chart Zone:</h4>
                  <div class="col-md-12" id="copy_chart_parent_div" style="width: 100%;height:100%;min-height:360px"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <div id="template-matrix-dynamic-table-div"></div>
    <div id="template-matrix-modal-div"></div>

    <script type="text/javascript" src="../assets/reference/flat-admin/assets/js/vendor_min.js"></script>
    <script type="text/javascript" src="../assets/reference/flat-admin/assets/js/app.js"></script>
    <script src="../assets/reference/codemirror/codemirror.js"></script>
    <script src="../assets/reference/codemirror/mode/javascript/javascript.js"></script>
    <script src="../assets/reference/codemirror/mode/markdown/markdown.js"></script>
    <script src="../assets/reference/jquery/jquery.json.js"></script>
    <script src="../assets/reference/jquery/jquery.blockUI.js"></script>
    <script src="../assets/reference/knockout.js/knockout-3.3.0.js"></script>
    <script src="../assets/reference/jquery-tiny-pubsub/tiny-pubsub.js"></script>
    <script src="../assets/reference/markdown/markdown.min.js"></script>
    <script src="../assets/reference/jquery-ui/jquery-ui.js"></script>
    <script src="../assets/reference/lodash/lodash-4.15.0.js"></script>
    <script src="../assets/reference/gridstack/gridstack.all.js"></script>
    <script src="../assets/reference/echarts/echarts-min.js"></script>
    <script src="../assets/reference/echarts/dataTools.js"></script>
    <!-- Javascript for Matrix Self Owned -->
    <script src="../assets/self-owned/js/generic/generic_algorithm.js"></script>
    <script src="../assets/self-owned/js/generic/generic_cache.js"></script>
    <script src="../assets/self-owned/js/generic/generic_charting_v4.js"></script>
    <script src="../assets/self-owned/js/generic/generic_csv.js"></script>
    <script src="../assets/self-owned/js/generic/generic_cud.js"></script>
    <script src="../assets/self-owned/js/generic/generic_modal.js"></script>
    <script src="../assets/self-owned/js/generic/generic_query.js"></script>
    <script src="../assets/self-owned/js/generic/generic_table.js"></script>
    <script src="../assets/self-owned/js/generic/generic_util.js"></script>
    <script src="../assets/self-owned/js/generic/generic_validation.js"></script>
    <script src="../assets/self-owned/js/generic/generic_workbench.js"></script>
    <script src="../assets/self-owned/js/generic/generic_dynamic.js"></script>


    <script>
      $(document).ready(function() {
        $('#sidebar').load($.getRootPath() + '/components/left_side.html');
        $('#navbar').load($.getRootPath() + '/components/header.html');
        $('#template-matrix-dynamic-table-div').load($.getRootPath() + '/components/template-matrix-dynamic-table.html');
        $('#template-matrix-modal-div').load($.getRootPath() + '/components/template-matrix-modal.html');

        setTimeout(function() {
          initialize_environment();
        }, 500)
      });
      // var ds = {
      //   "ds": "http://localhost:8080/service_generic_query/api/query/teststatistic",
      //   "header_json": "[{\"data\":\"sum\",\"index\":0,\"isChecked\":true,\"isDisplay\":true},{\"data\":\"name\",\"index\":1,\"isChecked\":true,\"isDisplay\":true}]",
      //   "refresh_interval": "10",
      //   "mock": true,
      //   "json_rule": "result"
      // };

      var ds = {
        "ds": "http://localhost:8080/service_generic_query/api/query",
        "header_json": "[{\"data\":\"statistic_sum\",\"index\":0,\"isChecked\":true,\"isDisplay\":true},{\"data\":\"type_name\",\"index\":1,\"isChecked\":true,\"isDisplay\":true}]",
        "refresh_interval": "10",
        "json_rule": "result",
        "rest_mode": "POST",
        "request_params": "{\"queryJson\":\"{\\\"className\\\":\\\"Genericentity\\\",\\\"groupMap\\\":{\\\"type\\\":\\\"type\\\"},\\\"pageMaxSize\\\":100,\\\"currentPageNumber\\\":1,\\\"eqMap\\\":{\\\"deleted\\\":false}}\"}",
        "mock": false
      };


      function generic_statistic_table() {
        show_div('content_div_1')
        create_dynamic_table(ds, 'copy_table_parent_div', 'copied_table_div');
      }

      function generic_statistic_chart() {
        show_div('content_div_2')
        create_dynamic_chart_pie(ds, 'copy_chart_parent_div')
      }
    </script>


</body>

</html>
