<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matrix Template</title>
  <link rel="shortcut icon" href="../assets/self-owned/ico/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/flat-admin.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/yellow.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/codemirror/codemirror.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/github-markdown-css/github-markdown.css">
  <link rel="stylesheet" type="text/css" href="../assets/self-owned/css/matrix_v3.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/bootstrap-fileinput/css/fileinput_ly.css" media="all">
  <link rel="stylesheet" type="text/css" href="../assets/reference/fuelux/fuelux.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/gridstack/gridstack.css" />
  <link rel="stylesheet" type="text/css" href="../assets/reference/gridstack/gridstack-extra.css" />
</head>

<body>
  <div class="app app-blue-sky" id="template-matrix-main-div">
    <aside class="app-sidebar" id="sidebar"></aside>
    <div class="app-container" id="main_content_div">
      <nav class="navbar navbar-default navbar-fixed-top" id="navbar"></nav>
      <div class="seperate_div_class" style="margin-top:118px"></div>

      <!--LOADER DIV BEGIN-->
      <div class="loader-container text-center">
        <div class="icon">
          <div class="sk-wave">
            <div class="sk-rect sk-rect1"></div>
            <div class="sk-rect sk-rect2"></div>
            <div class="sk-rect sk-rect3"></div>
            <div class="sk-rect sk-rect4"></div>
            <div class="sk-rect sk-rect5"></div>
          </div>
        </div>
        <div class="title">Loading</div>
      </div>
      <!--LOADER DIV FINISHED-->

      <!--RESPONSE DIV BEGIN-->
      <div class="row" data-bind="with:response_vm">
        <div class="col-sm-12" style="margin-bottom:12px" style="display:none" data-bind="visible: resultVisible">
          <div class="flat-matrix">
            <div class="alert fresh-color " data-bind="css:styleClass,visible: resultVisible" style="display:none">
              <button type="button" class="close" data-bind="click:function(){resultVisible(false)}" aria-label="Close"><i class="fa fa-close"></i></button>
              <strong>
                  <span data-bind="text:resultTitle"></span>
                </strong>
              <span data-bind="text:resultSubTitle"></span>
              <div data-bind="text:resultContent"></div>
            </div>
          </div>
        </div>
      </div>
      <!--RESPONSE DIV FINISHED-->

      <!--VALIDATION DIV BEGIN-->
      <div class="row">
        <div class="col-sm-12" style="margin-bottom:12px" style="display:none" data-bind="visible: hasError">
          <div id="validation_div">
            <div class="flat-matrix">
              <div class="alert alert-warning alert-dismissible fresh-color" role="alert" style="display:none" data-bind="visible: hasError">
                <button type="button" data-bind="click:function(){hasError(!hasError)}" class="close" aria-label="Close">
                  <i class="fa fa-close"></i>
                </button>
                <strong>Warning:</strong>
                <div id="errorMessagesDIV" data-bind="foreach:errorMessage">
                  <div data-bind="text:$data"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--VALIDATION DIV FINISHED-->

      <!--BUSINESS DIV BEGIN-->

      <div class="row" id="common-main-window">
        <div class="col-md-12">
          <div id="widgets_parent_div" style="background-color:#242324;min-height:360px">

            <div class="row" style="padding:20px">
              <div class="col-md-2">
                <div class="card card-mini" data-bind="datasource: {url: 'http://localhost:8080/service_generic_query/api/data/mock2',interval: 5,}" style="min-height: 110px;background-color:#333433;box-shadow: 0 1px 2px #363736;color: #E9E9E9;">
                  <div class="card-header" style="padding: 8px 20px;font-size: 0.8em;border-bottom: 1.5px solid #454646;color: #E9E9E9;">
                    Hosts
                  </div>
                  <div class="card-body" data-bind="with:response" style="padding: 10px 10px;">
                    <div style="display: flex;flex-direction: column;flex-wrap: nowrap;align-items: flex-end;justify-content: flex-end;position: relative;">
                      <div>
                        <span data-bind="text:result[0].numberalpha" style="font-size:2.8em;color:#E74C3C"></span>
                        <span>/</span>
                        <span data-bind="text:result[1].numberalpha"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-banner card-red-light" data-bind="datasource: {url: 'http://localhost:8080/service_generic_query/api/data/mock2',interval: 5,}" style="min-height: 110px;background-color:#333433;box-shadow: 0 1px 2px #363736;color: #E9E9E9;">
                  <div class="card-body" data-bind="with:response">
                    <i class="icon fa fa-bomb fa-3x" style="background-color: rgba(255, 255, 255, 0.05);min-width: 60px;font-size:3em;height:100%"></i>
                    <div class="content" style="padding: 0.6rem;">
                      <div class="title">Problems</div>
                      <div class="value" style="font-size: 3em;">
                        <span data-bind="text:result[2].numberalpha"></span><span class="sign" style="color:#E9E9E9;">/<span data-bind="text:result[3].numberalpha"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-mini" data-bind="datasource: {url: 'http://localhost:8080/service_generic_query/api/data/mock2',interval: 5,}" style="min-height: 110px;background-color:#333433;box-shadow: 0 1px 2px #363736;color: #E9E9E9;">
                  <div class="card-header" style="padding: 8px 20px;font-size: 0.8em;border-bottom: 1.5px solid #454646;color: #E9E9E9;">
                    Services
                  </div>
                  <div class="card-body" style="padding: 10px 20px;" data-bind="with:response">
                    <div class="row">
                      <div class="col-md-4">
                        <div style="font-size:1.8em;color:#39c3da" data-bind="text:result[0].numberalpha"></div>
                        <div style="color:#686868">Web</div>
                      </div>
                      <div class="col-md-4" style="border-left: 1.5px solid #454646;">
                        <div style="font-size:1.8em;color:#29c75f" data-bind="text:result[1].numberalpha"></div>
                        <div style="color:#686868">Messaging</div>
                      </div>
                      <div class="col-md-4" style="border-left: 1.5px solid #454646;">
                        <div style="font-size:1.8em;color:#E74C3C" data-bind="text:result[2].numberalpha"></div>
                        <div style="color:#686868">RMI/Custom</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-mini" data-bind="datasource: {url: 'http://localhost:8080/service_generic_query/api/data/mock2',interval: 5,}" style="background-color:#333433;box-shadow: 0 1px 2px #363736;color: #E9E9E9;">
                  <div class="card-header" style="padding: 8px 20px;font-size: 0.8em;border-bottom: 1.5px solid #454646;color: #E9E9E9;">
                    Accounts
                  </div>
                  <div class="card-body" style="padding: 10px 20px;" data-bind="with:response">
                    <span style="font-size: 0.8em;color:#39c3da">Environment</span>
                    <div class="row" style="margin-top: 10px;">
                      <div class="col-md-4 text-right" style="padding-left:6px;pdding-right:6px">
                        <div style="font-size:1.8em" data-bind="text:result[0].numberalpha"></div>
                        <div style="color:#686868">RDS</div>
                        <div style="color:#686868;padding-bottom: 6px;border-bottom: 1.5px solid #454646;">instances</div>
                      </div>
                      <div class="col-md-4 text-right" style="padding-left:6px;pdding-right:6px">
                        <div style="font-size:1.8em" data-bind="text:result[1].numberalpha"></div>
                        <div style="color:#686868">Load</div>
                        <div style="color:#686868;padding-bottom: 6px;border-bottom: 1.5px solid #454646;">balancers</div>
                      </div>
                      <div class="col-md-4 text-right" style="padding-left:6px;pdding-right:6px">
                        <div style="font-size:1.8em" data-bind="text:result[2].numberalpha"></div>
                        <div style="color:#686868">EC2</div>
                        <div style="color:#686868;padding-bottom: 6px;border-bottom: 1.5px solid #454646;">instances</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div id="c0p" class="card card-mini" style="background-color:#333;box-shadow:none;color: #E9E9E9;">
                  <div class="card-header" style="padding: 8px 20px;font-size: 0.8em;border-bottom: 1.5px solid #454646;color: #E9E9E9;">
                    Chart
                  </div>
                  <div class="card-body">
                    <div id="c0" class="matrix_chart_container" style="width: 100%;height:100%;min-height:220px"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="background-color:#242324;min-height:360px">

            <div class="row" style="padding:20px">
              <div class="col-md-2">
                <div class="card card-mini" style="background-color:#333433;box-shadow: 0 1px 2px #363736;color: #E9E9E9;">
                  <div class="card-header" style="padding: 8px 20px;font-size: 0.8em;border-bottom: 1.5px solid #454646;color: #E9E9E9;">
                    Hosts
                  </div>
                  <div class="card-body">
                    <div style="display: flex;flex-direction: column;flex-wrap: nowrap;align-items: flex-end;justify-content: flex-end;position: relative;">
                      <div>
                        <span style="font-size:2.8em;color:#E74C3C">1</span>
                        <span>/</span>
                        <span>313</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-banner card-red-light" style="background-color:#333433;box-shadow: 0 1px 2px #363736;color: #E9E9E9;">
                  <div class="card-body">
                    <i class="icon fa fa-bomb fa-3x" style="background-color: rgba(255, 255, 255, 0.05);min-width: 60px;font-size:3em;height:100%"></i>
                    <div class="content" style="padding: 0.6rem;">
                      <div class="title">Problems</div>
                      <div class="value" style="font-size: 3em;">
                        <!-- <span class="sign" style="color:#E9E9E9;">/128</span> -->
                        <span>58</span><span class="sign" style="color:#E9E9E9;">/1</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-mini" style="background-color:#333433;box-shadow: 0 1px 2px #363736;color: #E9E9E9;">
                  <div class="card-header" style="padding: 8px 20px;font-size: 0.8em;border-bottom: 1.5px solid #454646;color: #E9E9E9;">
                    Services
                  </div>
                  <div class="card-body" style="padding: 10px 20px;">
                    <div class="row">
                      <div class="col-md-4">
                        <div style="font-size:1.8em">104</div>
                        <div style="color:#686868">Web</div>
                      </div>
                      <div class="col-md-4" style="border-left: 1.5px solid #454646;">
                        <div style="font-size:1.8em">1</div>
                        <div style="color:#686868">Messaging</div>
                      </div>
                      <div class="col-md-4" style="border-left: 1.5px solid #454646;">
                        <div style="font-size:1.8em">6</div>
                        <div style="color:#686868">RMI/Custom</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-mini" style="background-color:#333433;box-shadow: 0 1px 2px #363736;color: #E9E9E9;">
                  <div class="card-header" style="padding: 8px 20px;font-size: 0.8em;border-bottom: 1.5px solid #454646;color: #E9E9E9;">
                    Accounts
                  </div>
                  <div class="card-body" style="padding: 10px 20px;">
                    <span style="font-size: 0.8em;">Environment</span>
                    <div class="row" style="margin-top: 10px;">
                      <div class="col-md-4 text-right" style="padding-left:6px;pdding-right:6px">
                        <div style="font-size:1.8em">1</div>
                        <div style="color:#686868">RDS</div>
                        <div style="color:#686868;padding-bottom: 6px;border-bottom: 1.5px solid #454646;">instances</div>
                      </div>
                      <div class="col-md-4 text-right" style="padding-left:6px;pdding-right:6px">
                        <div style="font-size:1.8em">1</div>
                        <div style="color:#686868">Load</div>
                        <div style="color:#686868;padding-bottom: 6px;border-bottom: 1.5px solid #454646;">balancers</div>
                      </div>
                      <div class="col-md-4 text-right" style="padding-left:6px;pdding-right:6px">
                        <div style="font-size:1.8em">12</div>
                        <div style="color:#686868">EC2</div>
                        <div style="color:#686868;padding-bottom: 6px;border-bottom: 1.5px solid #454646;">instances</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--BUSINESS DIV BEGIN-->


      <!--TEMPLATE DIV BEGIN-->
      <div id="template-matrix-dynamic-table-div"></div>
      <div id="template-matrix-modal-div"></div>
      <div id="template-matrix-footer-div"></div>
      <!--TEMPLATE DIV BEGIN-->
    </div>
  </div>
  <!-- Javascript for Matrix Referenced -->
  <script src="../assets/reference/flat-admin/assets/js/vendor_min.js"></script>
  <script src="../assets/reference/flat-admin/assets/js/app.js"></script>
  <script src="../assets/reference/codemirror/codemirror.js"></script>
  <script src="../assets/reference/codemirror/mode/javascript/javascript.js"></script>
  <script src="../assets/reference/codemirror/mode/markdown/markdown.js"></script>
  <script src="../assets/reference/jquery/jquery.json.js"></script>
  <script src="../assets/reference/jquery/jquery.blockUI.js"></script>
  <script src="../assets/reference/knockout.js/knockout-3.3.0.js"></script>
  <script src="../assets/reference/jquery-tiny-pubsub/tiny-pubsub.js"></script>
  <script src="../assets/reference/markdown/markdown.min.js"></script>
  <script src="../assets/reference/jquery-ui/jquery-ui.js"></script>
  <script src="../assets/reference/lodash/lodash-4.15.0.js"></script>
  <script src="../assets/reference/gridstack/gridstack.all.js"></script>
  <script src="../assets/reference/echarts/echarts-min.js"></script>
  <script src="../assets/reference/echarts/dataTools.js"></script>
  <!-- Javascript for Matrix Self Owned -->
  <script src="../assets/self-owned/js/generic/generic_algorithm.js"></script>
  <script src="../assets/self-owned/js/generic/generic_cache.js"></script>
  <script src="../assets/self-owned/js/generic/generic_charting_v4.js"></script>
  <script src="../assets/self-owned/js/generic/generic_csv.js"></script>
  <script src="../assets/self-owned/js/generic/generic_cud.js"></script>
  <script src="../assets/self-owned/js/generic/generic_modal.js"></script>
  <script src="../assets/self-owned/js/generic/generic_query.js"></script>
  <script src="../assets/self-owned/js/generic/generic_table.js"></script>
  <script src="../assets/self-owned/js/generic/generic_util.js"></script>
  <script src="../assets/self-owned/js/generic/generic_validation.js"></script>
  <script src="../assets/self-owned/js/generic/generic_workbench.js"></script>
  <script src="../assets/self-owned/js/generic/generic_dynamic.js"></script>
  <script src="../assets/self-owned/js/generic/generic_vm.js"></script>

  <script src="../assets/self-owned/js/refine/matrix_util.js"></script>
  <script src="../assets/self-owned/js/refine/matrix_components.js"></script>


  <script>
    $(document).ready(function() {
      $('#sidebar').load($.getRootPath() + '/components/left_side.html');
      $('#navbar').load($.getRootPath() + '/components/header.html');
      $('#template-matrix-dynamic-table-div').load($.getRootPath() + '/components/template-matrix-dynamic-table.html');
      $('#template-matrix-modal-div').load($.getRootPath() + '/components/template-matrix-modal.html');
      $('#template-matrix-footer-div').load($.getRootPath() + '/components/footer.html');

      setTimeout(function() {
        $('#navbar_search_li').css('display', '');
        chart = Matrix_Chart_Util.gen_chart('c0', null, chart_setting_info);
      }, 1000);
      ko.applyBindings({}, $('#common-main-window')[0]);
    });
  </script>

  <script>
    var ds = {
      "ds": "http://localhost:8080/service_generic_query/api/data/mock1",
      "header_json": "[{\"data\":\"name\",\"index\":0,\"isChecked\":true,\"isDisplay\":true},{\"data\":\"numberalpha\",\"index\":1,\"isChecked\":true,\"isDisplay\":true},{\"data\":\"children\",\"index\":2,\"isChecked\":false,\"isDisplay\":true}]",
      "refresh_interval": "30",
      "json_rule": "result",
      "rest_mode": "GET",
      "request_params": "{\"queryJson\":\"{\\\"className\\\":\\\"Genericentity\\\",\\\"groupMap\\\":{\\\"type\\\":\\\"type\\\"},\\\"pageMaxSize\\\":100,\\\"currentPageNumber\\\":1,\\\"eqMap\\\":{\\\"deleted\\\":false}}\"}",
      "pageMaxSize": 5,
      "mock": false
    };
    var chart;
    var chart_setting_info = {
      'chart_ds': ds,
      'chart_type': 'pie'
    };


    function test(){
      $.serverRequest("../assets/self-owned/data/line_chart.json", null, "MATRIX_API_SUCCESS_EVENT_HANDLER", "DEFAULT_RETRIEVE_API_FAILED_LISTENER", "DEFAULT_RETRIEVE_API_EXCEPTION_LISTENER", "GET");
    }

    $.subscribe("MATRIX_API_SUCCESS_EVENT_HANDLER", MATRIX_API_SUCCESS_EVENT_HANDLER);

    function MATRIX_API_SUCCESS_EVENT_HANDLER() {
      if (arguments && arguments[1]) {
        // var result = arguments[1].result;
        var json = arguments[1].result[0];
        var json_chart = json.json;
        var option = ChartPOJO.deserialize_chart_option(json_chart);
      }
    }
    test();
  </script>

</body>

</html>
