<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matrix Template</title>
  <link rel="shortcut icon" href="../assets/self-owned/ico/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/flat-admin.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/flat-admin/assets/css/theme/yellow.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/codemirror/codemirror.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/github-markdown-css/github-markdown.css">
  <link rel="stylesheet" type="text/css" href="../assets/self-owned/css/matrix_v3.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/bootstrap-fileinput/css/fileinput_ly.css" media="all">
  <link rel="stylesheet" type="text/css" href="../assets/reference/fuelux/fuelux.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/reference/gridstack/gridstack.css" />
  <link rel="stylesheet" type="text/css" href="../assets/reference/gridstack/gridstack-extra.css" />
</head>

<body>
  <div class="app app-blue-sky" id="template-matrix-main-div">
    <aside class="app-sidebar" id="sidebar"></aside>
    <div class="app-container" id="main_content_div">
      <nav class="navbar navbar-default navbar-fixed-top" id="navbar"></nav>
      <div class="seperate_div_class" style="margin-top:118px"></div>

      <!--LOADER DIV BEGIN-->
      <div class="loader-container text-center">
        <div class="icon">
          <div class="sk-wave">
            <div class="sk-rect sk-rect1"></div>
            <div class="sk-rect sk-rect2"></div>
            <div class="sk-rect sk-rect3"></div>
            <div class="sk-rect sk-rect4"></div>
            <div class="sk-rect sk-rect5"></div>
          </div>
        </div>
        <div class="title">Loading</div>
      </div>
      <!--LOADER DIV FINISHED-->

      <!--RESPONSE DIV BEGIN-->
      <div class="row" data-bind="with:response_vm">
        <div class="col-sm-12" style="margin-bottom:12px" style="display:none" data-bind="visible: resultVisible">
          <div class="flat-matrix">
            <div class="alert fresh-color " data-bind="css:styleClass,visible: resultVisible" style="display:none">
              <button type="button" class="close" data-bind="click:function(){resultVisible(false)}" aria-label="Close"><i class="fa fa-close"></i></button>
              <strong>
                  <span data-bind="text:resultTitle"></span>
                </strong>
              <span data-bind="text:resultSubTitle"></span>
              <div data-bind="text:resultContent"></div>
            </div>
          </div>
        </div>
      </div>
      <!--RESPONSE DIV FINISHED-->

      <!--VALIDATION DIV BEGIN-->
      <div class="row">
        <div class="col-sm-12" style="margin-bottom:12px" style="display:none" data-bind="visible: hasError">
          <div id="validation_div">
            <div class="flat-matrix">
              <div class="alert alert-warning alert-dismissible fresh-color" role="alert" style="display:none" data-bind="visible: hasError">
                <button type="button" data-bind="click:function(){hasError(!hasError)}" class="close" aria-label="Close">
                  <i class="fa fa-close"></i>
                </button>
                <strong>Warning:</strong>
                <div id="errorMessagesDIV" data-bind="foreach:errorMessage">
                  <div data-bind="text:$data"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--VALIDATION DIV FINISHED-->

      <!--BUSINESS DIV BEGIN-->

      <div class="row">
        <div class="col-md-12">
          <div id="widgets_parent_div" style="background-color:#242324;min-height:800px">

            <div class="row" style="padding:20px">
              <div class="col-md-2">
                <div class="card card-mini" style="background-color:#333433;box-shadow: 0 1px 2px #363736;color: #E9E9E9;">
                  <div class="card-header" style="padding: 8px 20px;font-size: 0.8em;border-bottom: 1.5px solid #454646;color: #E9E9E9;">
                    Hosts
                  </div>
                  <div class="card-body">
                    <div style="display: flex;flex-direction: column;flex-wrap: nowrap;align-items: flex-end;justify-content: flex-end;position: relative;">
                      <div>
                        <span style="font-size:2.8em;color:#E74C3C">1</span>
                        <span>/</span>
                        <span>313</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-banner card-red-light" style="background-color:#333433;box-shadow: 0 1px 2px #363736;color: #E9E9E9;">
                  <div class="card-body">
                    <i class="icon fa fa-bomb fa-3x" style="min-width: 60px;font-size:3em"></i>
                    <div class="content" style="padding: 0.6rem;">
                      <div class="title">Problems</div>
                      <div class="value" style="font-size: 3em;">50<span class="sign" style="color:#E9E9E9;">/122</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-mini" style="background-color:#333433;box-shadow: 0 1px 2px #363736;color: #E9E9E9;">
                  <div class="card-header" style="padding: 8px 20px;font-size: 0.8em;border-bottom: 1.5px solid #454646;color: #E9E9E9;">
                    Services
                  </div>
                  <div class="card-body" style="padding: 10px 20px;">
                    <div class="row">
                      <div class="col-md-4">
                        <div style="font-size:1.8em">104</div>
                        <div style="color:#686868">Web</div>
                      </div>
                      <div class="col-md-4" style="border-left: 1.5px solid #454646;">
                        <div style="font-size:1.8em">1</div>
                        <div style="color:#686868">Messaging</div>
                      </div>
                      <div class="col-md-4" style="border-left: 1.5px solid #454646;">
                        <div style="font-size:1.8em">6</div>
                        <div style="color:#686868">RMI/Custom</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-mini" style="background-color:#333433;box-shadow: 0 1px 2px #363736;color: #E9E9E9;">
                  <div class="card-header" style="padding: 8px 20px;font-size: 0.8em;border-bottom: 1.5px solid #454646;color: #E9E9E9;">
                    Accounts
                  </div>
                  <div class="card-body" style="padding: 10px 20px;">
                    <span style="font-size: 0.8em;">Environment</span>
                    <div class="row" style="margin-top: 10px;">
                      <div class="col-md-4 text-right"  style="padding-left:6px;pdding-right:6px">
                        <div style="font-size:1.8em">1</div>
                        <div style="color:#686868">RDS</div>
                        <div style="color:#686868;padding-bottom: 6px;border-bottom: 1.5px solid #454646;">instances</div>
                      </div>
                      <div class="col-md-4 text-right" style="padding-left:6px;pdding-right:6px">
                        <div style="font-size:1.8em">1</div>
                        <div style="color:#686868">Load</div>
                        <div style="color:#686868;padding-bottom: 6px;border-bottom: 1.5px solid #454646;">balancers</div>
                      </div>
                      <div class="col-md-4 text-right" style="padding-left:6px;pdding-right:6px">
                        <div style="font-size:1.8em">12</div>
                        <div style="color:#686868">EC2</div>
                        <div style="color:#686868;padding-bottom: 6px;border-bottom: 1.5px solid #454646;">instances</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--BUSINESS DIV BEGIN-->


      <!--TEMPLATE DIV BEGIN-->
      <div id="template-matrix-dynamic-table-div"></div>
      <div id="template-matrix-modal-div"></div>
      <div id="template-matrix-footer-div"></div>
      <!--TEMPLATE DIV BEGIN-->
    </div>
  </div>
  <!-- Javascript for Matrix Referenced -->
  <script src="../assets/reference/flat-admin/assets/js/vendor_min.js"></script>
  <script src="../assets/reference/flat-admin/assets/js/app.js"></script>
  <script src="../assets/reference/codemirror/codemirror.js"></script>
  <script src="../assets/reference/codemirror/mode/javascript/javascript.js"></script>
  <script src="../assets/reference/codemirror/mode/markdown/markdown.js"></script>
  <script src="../assets/reference/jquery/jquery.json.js"></script>
  <script src="../assets/reference/jquery/jquery.blockUI.js"></script>
  <script src="../assets/reference/knockout.js/knockout-3.3.0.js"></script>
  <script src="../assets/reference/jquery-tiny-pubsub/tiny-pubsub.js"></script>
  <script src="../assets/reference/markdown/markdown.min.js"></script>
  <script src="../assets/reference/jquery-ui/jquery-ui.js"></script>
  <script src="../assets/reference/lodash/lodash-4.15.0.js"></script>
  <script src="../assets/reference/gridstack/gridstack.all.js"></script>
  <script src="../assets/reference/echarts/echarts-min.js"></script>
  <script src="../assets/reference/echarts/dataTools.js"></script>
  <!-- Javascript for Matrix Self Owned -->
  <script src="../assets/self-owned/js/generic/generic_algorithm.js"></script>
  <script src="../assets/self-owned/js/generic/generic_cache.js"></script>
  <script src="../assets/self-owned/js/generic/generic_charting_v4.js"></script>
  <script src="../assets/self-owned/js/generic/generic_csv.js"></script>
  <script src="../assets/self-owned/js/generic/generic_cud.js"></script>
  <script src="../assets/self-owned/js/generic/generic_modal.js"></script>
  <script src="../assets/self-owned/js/generic/generic_query.js"></script>
  <script src="../assets/self-owned/js/generic/generic_table.js"></script>
  <script src="../assets/self-owned/js/generic/generic_util.js"></script>
  <script src="../assets/self-owned/js/generic/generic_validation.js"></script>
  <script src="../assets/self-owned/js/generic/generic_workbench.js"></script>
  <script src="../assets/self-owned/js/generic/generic_dynamic.js"></script>
  <script src="../assets/self-owned/js/generic/generic_vm.js"></script>


  <script>
    $(document).ready(function() {
      $('#sidebar').load($.getRootPath() + '/components/left_side.html');
      $('#navbar').load($.getRootPath() + '/components/header.html');
      $('#template-matrix-dynamic-table-div').load($.getRootPath() + '/components/template-matrix-dynamic-table.html');
      $('#template-matrix-modal-div').load($.getRootPath() + '/components/template-matrix-modal.html');
      $('#template-matrix-footer-div').load($.getRootPath() + '/components/footer.html');

      setTimeout(function() {
        $('#navbar_search_li').css('display', '');
      }, 1000)
    });
  </script>

  <script>
    // *******Data Bind JS Code*******
    // Initialize Generic Page View Model as entire page data bind parent element
    var vm = new GenericPageViewModel();
    // Clean Data Bind Node
    ko.cleanNode($('#template-matrix-main-div')[0]);
    // Apply data bind in view model and the whole dom
    ko.applyBindings(vm, document.getElementById('template-matrix-main-div'));
    // Refrence the entire page view model to current view model as cache
    current_vm = vm;
    //Entire page unit test suite
  </script>

</body>

</html>
