
.content-section-a {
    padding: 50px 0px 50px 0px;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    /*border-top: 1px solid #e7e7e7;*/
    /*border-bottom: 1px solid #e7e7e7;*/
}

.section-heading {
    margin-bottom: 30px;
}

/*.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}*/


.navbar {
  z-index: 10001;
  padding-left: 60px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.navbar > .container, .navbar > .container-fluid {
  z-index: 10001;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  height: 60px;
  line-height: 60px;
  margin-left: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  padding: 0;
  font-size: 1.5em;
}
.navbar > .container .navbar-brand .fa-angle-right, .navbar > .container-fluid .navbar-brand .fa-angle-right {
  margin-left: 5px;
  margin-right: 5px;
}
.navbar > .container .navbar-expand-toggle, .navbar > .container-fluid .navbar-expand-toggle {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 0px;
  float: left;
  -moz-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  opacity: 0.75;
}
.navbar > .container .navbar-expand-toggle .icon, .navbar > .container-fluid .navbar-expand-toggle .icon {
  font-size: 1.4em;
}
.navbar > .container .navbar-right-expand-toggle, .navbar > .container-fluid .navbar-right-expand-toggle {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 0px;
  position: absolute;
  right: 0;
  -moz-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  opacity: 0.75;
}
.navbar > .container .navbar-right-expand-toggle .icon, .navbar > .container-fluid .navbar-right-expand-toggle .icon {
  font-size: 1.4em;
}
.navbar .navbar-breadcrumb {
  margin-left: 0px;
  background-color: transparent;
  padding: 0px;
  float: left;
}
.navbar .navbar-breadcrumb > li {
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
}
.navbar .navbar-nav > li > a {
  font-family: 'Roboto Condensed', sans-serif;
  height: 60px;
  line-height: 60px;
  padding: 0px 20px 0px 20px;
}
.navbar .dropdown-menu {
  padding: 0;
  border: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  z-index: -1;
  position: absolute;
}
.navbar .dropdown-menu .title {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px 10px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.navbar .dropdown-menu .message {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  padding: 10px 20px;
}
.navbar .dropdown-menu .notifications.list-group {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar .dropdown-menu .notifications.list-group .list-group-item {
  min-width: 250px;
  padding: 8px;
  border: 0;
  border-bottom: 1px solid #EEE;
}
.navbar .dropdown-menu .notifications.list-group .list-group-item .icon {
  margin-right: 5px;
}
.navbar .dropdown-menu .notifications.list-group .badge {
  border-radius: 1em;
}
.navbar .dropdown-menu .notifications.list-group .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.navbar .dropdown-menu .notifications.list-group .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.navbar .dropdown-menu .notifications.list-group a.list-group-item:hover {
  cursor: pointer;
}
.navbar .dropdown.profile .dropdown-menu {
  width: 568px;
  padding-bottom: 0px;
  text-align: center;
}
.navbar .dropdown.profile .dropdown-menu li.profile-img {
  padding: 0px;
  max-height: 300px;
  overflow: hidden;
}
.navbar .dropdown.profile .dropdown-menu li.profile-img img.profile-img {
  width: 100%;
  height: auto;
  margin: 0px;
  border: 0;
}
.navbar .dropdown.profile .dropdown-menu .profile-info {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 15px;
}
.navbar .dropdown.profile .dropdown-menu .profile-info .username {
  font-size: 1.8em;
}

/* Card */

.card {
  background-color: #FFF;
  border-radius: 1px;
  overflow: hidden;
  position: relative;
}
.card .card-body {
  padding: 25px;
}
.card .card-body .sub-title {
  font-size: 1.2em;
  padding: 1.2em 0em 0.4em 0em;
  margin-bottom: 25px;
}
.card .card-body .sub-title .description {
  padding-left: 0.4em;
  font-size: 0.8em;
  opacity: 0.8;
}
.card .card-body.half-padding {
  padding: 12.5px;
}
.card .card-header .card-title {
  padding: 1.2em 25px;
  float: left;
}
.card .card-header .card-title .title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  text-decoration: none;
}
.card .card-header .pull-right {
  padding: 0.5em 1em;
}
.card .card-header:after {
  content: '';
  display: block;
  clear: both;
}
.card .card-profile-img img {
  width: 100%;
  height: auto;
}
.card .card-jumbotron {
  padding: 1.5em 1.5em;
}
.card:hover .card-header .title {
  text-decoration: none !important;
}
.card.summary-inline .card-body {
  padding: 20px;
}
.card.summary-inline .card-body .content {
  float: right;
}
.card.summary-inline .card-body .content .title {
  font-family: 'Lato', sans-serif;
  margin-top: -0.3em;
  font-size: 3.5em;
  text-align: right;
}
.card.summary-inline .card-body .content .sub-title {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  text-align: right;
  margin-top: -10px;
  margin-bottom: 0;
  padding: 0;
  border-bottom: 0;
}
.card.profile .card-body {
  padding: 0.5em 0.8em;
}
.card.profile .card-footer {
  padding: 0.5em 0.8em;
}
